﻿@using NetMVCBuilder.Common
@using NetMVCBuilder.Models.EntityModel
@model NetMVCBuilder.Models.RequestModel.MessageContactRequestModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)Session[CommonConstants.USER_SESSION];
}

<head>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }

        #modal_details_MessageContact {
            color: black;
        }
    </style>
</head>
<title>Quản lý tin nhắn liên hệ</title>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tìm kiếm thông tin</h2>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Index", "MessageContact")" id="search-form" method="get">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <label class="lbl">Từ khóa: </label>
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <input type="text" name="Keywords" placeholder="Nhập thông tin..." class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button id="btnSearch" class="btn btn-sm btn-primary filter-submit" type="submit">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Quản lý tin nhắn liên hệ</h2>
                    </div>
                    @*@if (ViewBag.hasAddPermission)
                        {
                            <div class="col-sm-6">
                                <a href="/Category/Add" class="btn btn-success" style="padding: 10px 30px 10px 30px; border-radius: 5px"><i class="fa fa-plus"></i> Thêm mới</a>
                            </div>
                        }*@
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Họ tên</th>
                        <th class="text-center">Email</th>
                        <td class="text-center">Ngày gửi</td>
                        <th class="text-center" width="300">Nội dung</th>
                        <th class="text-center" style="width:100px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model.Data)
                    {
                        count++;
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">@item.Email</td>
                            <td class="text-center">@item.CreateDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">@item.Message</td>
                            <td class="text-center">
                                @if (ViewBag.hasViewPermission)
                                {
                                    <a class="details-link" style="margin-right: 5px; cursor: pointer" onclick="ShowDetailsMessageContact(@item.Id)"><i class="fa fa-eye" title="Xem"></i></a>
                                }
                                @if (ViewBag.hasDeletePermission)
                                {
                                    <a onclick="Delete(@item.Id)" class="delete" style="margin-right: 5px; cursor: pointer"><i class="fa fa-trash" title="Xóa"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--Paging-->
            <div class="row paging">
                <div class="col-md-3" style="text-align: left; margin-top: 8px; padding: 0px;">
                    <label>Có tất cả @Model.totalRecord kết quả</label>
                </div>
                <div class="col-md-9" style="padding: 0px;">
                    <ul class="pagination">
                        @{
                            int position;
                            if (Model.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Category", new { page = Model.page-1, pageSize = Model.pageSize, KeySearch = Model.Keywords})" tabindex="-1"> << </a>
                                </li>
                            }

                            for (position = 1; position <= Model.totalPage; position++)
                            {

                                if (position == Model.page)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Category", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Category", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                            }
                            if (Model.page > 0 && Model.page < Model.totalPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Category", new { page = Model.page+1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> >> </a>
                                </li>
                            }

                            if (Model.totalPage == 0)
                            {
                                <li>
                                    <div role="status" aria-live="polite">Không có dữ liệu hiển thị</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function ShowDetailsMessageContact(id) {
        $.ajax({
            url: '/MessageContact/GetMessageContactById/' + id,
            type: "GET",
            success: function (rs) {
                if (rs != null && rs != undefined && rs != '') {
                    $('#modal_Name').text(rs.Name);
                    $('#modal_Email').text(rs.Email);
                    $('#modal_CreateDate').text(rs.CreateDateString);
                    $('#modal_Message').text(rs.Message);
                } else {
                    toastr.error('Có lỗi xảy ra!');
                }
            },
        });
        $('#modal_details_MessageContact').modal('show');
    }

    function Delete(id) {
        var data = {
            id: id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/MessageContact/Delete';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/MessageContact';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
</script>

