﻿@model NetMVCBuilder.Models.RequestModel.ProductRequestModel

@{
    ViewBag.Title = "Các sản phẩm";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<style>
    body {
        background: #ebebeb;
    }

    .pix_section {
        background-color: white;
    }

    .footer-container {
        background: white;
    }
</style>

<style>
    .no-content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 150px;
    }

    @@media screen and (min-height: 700px) {
        .no-content {
            min-height: 250px;
        }
    }

    @@media screen and (min-height: 900px) {
        .no-content {
            min-height: 350px;
        }
    }
</style>

<style>
    .product-container {
        background-size: cover;
        background-position: center;
    }

        .product-container img {
            width: 100%;
            cursor: pointer;
            transition: all linear .2s;
        }

    .product-img:hover {
        transform: scale(1.08, 1.08);
    }

    .product-name {
        text-transform: uppercase;
        cursor: pointer;
    }

        .product-name:hover {
            color: #1964B9;
        }

    .product-type-tag {
        display: inline-block;
        padding: 5px 9px;
        border-bottom: 3px solid white;
        min-width: 100px;
        text-align: center;
        margin: 4px;
    }


        .product-type-tag:hover {
            border-bottom: 3px solid #1964B9;
            cursor: pointer;
        }

            .product-type-tag:hover a {
                color: #1964B9;
            }

        .product-type-tag.activate {
            border-bottom: 3px solid #1964B9;
        }

    .container.white-bg {
        border-radius: 10px
    }

    .product-container {
        display: inline-block;
        position: relative;
        width: 100%;
    }

        .product-container:before {
            content: "";
            display: block;
            margin-top: 100%;
        }

    .product-img {
        width: 100%;
        height: 100%;
    }

    .element {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: silver /* show me! */
    }
</style>

<script>
    $(".product-type-tag").on("click", function () {
        $(".product-img-parent").attr('src', $(this).attr('src'));
        $(".product-img-child.active").removeClass('active');
        $(this).addClass("active");
    });
</script>

@*<script>
        function getListProducts(page, pageSize, key, categoryId) {
            $("#loading-icon").css("display", "flex");
            $.ajax({
                url: '/ListProducts/GetListProducts/',
                method: 'GET',
                data: {
                    page: page,
                    pageSize: pageSize,
                    KeyWord: key,
                    categoryId: categoryId
                },
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    if (res.data) {
                        $("#list-products-container").empty();
                        for (var item of res.data) {
                            var product =
                                `<div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="pix-content pix-margin-v-10 text-center">
                                    <div class="product-container">
                                        <img src="https://giaysihcm.com/wp-content/uploads/2021/04/z2468147045197_8719efcb5296ac77b24a2bcd778da748-scaled.jpg" alt="" class="product-img" onclick='window.location.href="/ListProducts/ProductDetail/${item.Id}"'>
                                    </div>
                                    <h6 class="pix-black-gray-dark pix-no-margin-bottom pix-padding-v-10">
                                        <span class="pix_edit_text" style="text-transform: uppercase;">${item.Name}</span>
                                    </h6>
                                </div>
                            </div>`;

                            $("#list-products-container").append(product);
                        }
                    }
                    $("#loading-icon").css("display", "none");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#loading-icon").css("display", "none");
                }
            })
        }
    </script>*@

<div class="pix-padding-v-content">
    <div class="container white-bg">
        <div class="row" style="padding: 20px 10px">
            <div class="@(ViewBag.categoryId == null ? "product-type-tag activate": "product-type-tag")"
                 onclick='window.location.href = "@Url.Action("Index", "ListProducts")"'>
                <span>Tất cả sản phẩm</span>
            </div>
            @{
                foreach (var item in ViewBag.listCategory)
                {
                    <div class="@(ViewBag.categoryId == item.Id ? "product-type-tag activate" : "product-type-tag")"
                         onclick='window.location.href = "@Url.Action("Index", "ListProducts", new {categoryId = item.Id})"'>
                        <span>@item.Name</span>
                    </div>
                }
            }
        </div>
        @*<div id="loading-icon" class="row" style="display: flex; justify-content: center; align-items: center; min-height: 150px;">
                <div class="lds-dual-ring">
                </div>
            </div>*@
        <div class="row">
            <div id="list-products-container" class="col-xs-12">
                @{
                    foreach (var item in Model.data)
                    {
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="pix-content pix-margin-v-10 text-center">
                                <div class="product-container">
                                    <div class="element">
                                        <img src="@(item.PictureThumbnail?.Trim())" alt="" class="product-img" onclick='window.location.href="/ListProducts/ProductDetail/@item.Id"'>
                                    </div>
                                </div>
                                <h6 class="pix-black-gray-dark pix-no-margin-bottom pix-padding-v-10">
                                    <span class="pix_edit_text product-name" onclick='window.location.href="/ListProducts/ProductDetail/@item.Id"'>@item.Name</span>
                                </h6>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        @if (Model.totalPage != 0)
        {
            <div class="col-xs-12 pix-margin-v-10" style="display: flex; justify-content: end">
                <ul class="pagination">
                    @{
                        int position;
                        if (Model.page > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "ListProducts", new { page = Model.page - 1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> Trước </a>
                            </li>
                        }

                        for (position = 1; position <= Model.totalPage; position++)
                        {

                            if (position == Model.page)
                            {
                                <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "ListProducts", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                            }

                            else
                            {
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "ListProducts", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                            }

                        }
                        if (Model.page > 0 && Model.page < Model.totalPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", "ListProducts", new { page = Model.page + 1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> Sau </a>
                            </li>
                        }

                    }
                </ul>
            </div>


        }
        @if (Model.totalPage == 0)
        {
            <div class="no-content">
                <span>Không có dữ liệu hiển thị</span>
            </div>
        }
    </div>
</div>
