﻿@model NetMVCBuilder.Models.InfoModel.ProductInfo

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<style>
    body {
        background: #ebebeb;
    }

    .pix_section {
        background-color: white;
    }

    .footer-container {
        background: white;
    }
</style>


<style>
    .product-name {
        text-transform: uppercase;
        cursor: pointer;
    }

        .product-name:hover {
            color: #1964B9;
        }

    .product-img-parent {
        border-radius: 15px;
        width: 100%;
    }

    .product-list-img-child {
        display: flex;
        flex-direction: column;
    }

    .product-img-child {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .product-img-child.active {
            border: 2px solid #ff5000;
        }

        .product-img-child:hover {
            border: 2px solid #ff5000;
        }
</style>
<style>
    .product-container {
        background-size: cover;
        background-position: center;
    }

        .product-container img {
            width: 100%;
            cursor: pointer;
            transition: all linear .2s;
        }

    .product-img:hover {
        transform: scale(1.08, 1.08);
    }

    .breadcrumb {
        padding: 12px;
        color: blue;
        margin: 15px;
        background: none;
    }

    .text-muted {
        color: #337ab7;
    }

    .breadcrumb > li + li:before {
        padding: 0;
    }
</style>

<div class="pix-padding-v-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Chi tiết sản phẩm</h3>
                            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold">
                                <li class="breadcrumb-item text-muted">
                                    <a href="/" class="text-muted">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-item text-muted">
                                    <a href="/ListProducts?categoryId=@Model.CategoryId" class="text-muted">@Model.CategoryName</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-6 col-xs-12">
                                <div class="col-xs-10" style="padding-left: 0px">
                                    <img class="product-img-parent" src="@Model.PictureThumbnail" />
                                </div>
                                <div class="col-xs-2 product-list-img-child" style="padding-left: 0px">
                                    @foreach (var item in Model.ListImage)
                                    {
                                        <img class="product-img-child @(item.ImagePath?.Trim() == Model.PictureThumbnail?.Trim() ? "active" : "")" src="@(item.ImagePath?.Trim())" />
                                    }
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="row form-group">
                                    <div class="col-xs-12">
                                        <h4 class="text-primary m-0">@Model.Name</h4>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <span class="col-form-label">Thương hiệu: </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span class="col-form-label">ThanhPhatShoes</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <span class="col-form-label">Mã SP: </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span class="col-form-label">@Model.Code</span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <span class="col-form-label">Màu sắc: </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span class="col-form-label">@Model.lstColor</span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <span class="col-form-label">Kích thước: </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <span class="col-form-label">@Model.lstSize</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div style="display: flex; justify-content: center;">
                                            <div class="phone-container" onclick="window.open('tel:0384593636');">
                                                <i class="fas fa-phone-alt" style="color: white"></i>
                                                <span class="pix_edit_text pix-white"><strong>Liên hệ ngay: @ViewBag.PhoneNumber</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12" style="margin-top: 30px">
                                <h6>Mô tả chi tiết</h6>
                                <hr />
                                <div>
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>

                            <div class="col-xs-12" style="margin-top: 30px">
                                <h6>Sản phẩm tương tự</h6>
                                <hr />
                                @if (Model.ListSameProduct.Count > 0)
                                {
                                    foreach (var item in Model.ListSameProduct)
                                    {
                                        <div class="col-md-3 col-sm-4 col-xs-6">
                                            <div class="pix-content pix-margin-v-10 text-center">
                                                <div class="product-container">
                                                    <img src="@(item.PictureThumbnail?.Trim())"
                                                         alt="" class="product-img"
                                                         style="width: 100%"
                                                         onclick='window.location.href = "@Url.Action("productdetail", "listproducts", new { id = item.Id})"'>
                                                </div>
                                                <h6 class="pix-black-gray-dark pix-no-margin-bottom pix-padding-v-10">
                                                    <span class="pix_edit_text product-name"
                                                          onclick='window.location.href = "@Url.Action("productdetail", "listproducts", new { id = item.Id})"'>@item.Name</span>
                                                    </h6>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div style="display: flex; justify-content: center; align-items: center; width: 100%; min-height: 150px">
                                            <span>Không có dữ liệu hiển thị</span>
                                        </div>
                                    }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .phone-container {
        background-color: orangered;
        border-radius: 25px;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>
<script>
    $(".product-img-child").on("click", function () {
        $(".product-img-parent").attr('src', $(this).attr('src'));
        $(".product-img-child.active").removeClass('active');
        $(this).addClass("active");
    });
</script>