﻿@model NetMVCBuilder.Models.EntityModel.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>
<title>@(Model.Id > 0 ? "Chỉnh sửa danh mục sản phẩm" : "Thêm mới danh mục sản phẩm")</title>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>@(Model.Id > 0 ? "Chỉnh sửa danh mục sản phẩm" : "Thêm mới danh mục sản phẩm")</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li style="margin-right: 10px"><a href="/Category"><i class="fa fa-list"></i>Danh sách</a></li>
                <li class="active">
                    <span>@(Model.Id > 0 ? "Chỉnh sửa" : "Thêm mới")</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, new { @class = "form-control", @id = "Id" })
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tên danh mục: </label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "Name", @maxlength = "200" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="AddOrUpdate()" class="btn btn-primary" id="btnLuu" style="width: auto">Lưu</button>
                <a type="button" class="btn btn-success" href="/Category" style="width: auto">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });
    });

    function AddOrUpdate() {
        $('#messageCode').html('');
        var data = {
            Id: $('#Id').val() * 1,
            Name: $('#Name').val().trim(),
        };

        var title2 = "Bạn có đồng ý thêm mới không?";
        var url = '/Category/AddOrUpdate';

        $.ajax({
            url: "/Category/CheckDuplicatedCategory/",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data: `{'name':'${data.Name}'}`,
            success: function (result) {
                if (result == true) {

                    if ($("form#edit").valid()) {
                        swal({
                            title: title2,
                            icon: "warning",
                            buttons: {
                                ok: "Xác nhận",
                                cancel: "Hủy",
                            }
                        }).then((isConfirm) => {
                            if (isConfirm != 'ok') {

                            } else {
                                $("#btnLuu").attr("disabled", true);
                                $.post(url, data,
                                    function (rs) {
                                        if (rs.status > 0) {
                                            swal({
                                                title: "Cập nhật thành công!",
                                                text: "Dữ liệu của bạn đã được cập nhật!",
                                                icon: "success",
                                            }).then(function (isConfirm) {
                                                window.location.href = '/Category';
                                            });
                                        }
                                        else {
                                            toastr.error(rs.message);
                                        }
                                    });
                                $("#btnLuu").attr("disabled", false);
                            }
                        });
                    }
                }
                else {
                    $('#messageCode').html('Danh mục đã tồn tại, mời nhập danh mục khác!');
                }
            }
        });


    }
</script>
