﻿@model NetMVCBuilder.Models.InfoModel.ProductInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    #cke_1_contents {
        min-height: 400px !important;
    }
</style>
<title>Cập nhật sản phẩm</title>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>Cập nhật sản phẩm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li style="margin-right: 10px"><a href="/Product"><i class="fa fa-list"></i>Danh sách</a></li>
                <li class="active">
                    <span>Cập nhật</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, new { @class = "form-control", @id = "Id" })

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>CẬP NHẬT THÔNG TIN SẢN PHẨM</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã sản phẩm <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Code, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "ma_san_pham"},
                                                                    {"maxlength", "20"},
                                                                })
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên sản phẩm <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextAreaFor(m => m.Name, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "ten_san_pham"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Thương hiệu <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Brand, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "brand"},
                                                                    {"maxlength", "200"},
                                                                })
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Số lượng: </label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Quantity, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "quantity"},
                                                                    {"type", "number"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Danh mục: </label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control category_id selcted2" id="category_id" name="CategoryId" required style="width: 100%"></select>
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Giá: </label>
                    </div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.Price, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "price"},
                                                                    {"type", "number"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Thumbnail <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("picture_thumnail", "", new Dictionary<string, object>
                                                                                {
                                                                    //{ "required","required"},
                                                                    {"accept", "image/*"},
                                                                    {"id", "picture_thumnail"},
                                                                    {"type", "file"},
                                                                })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">

                    </div>
                    <div class="col-md-10">
                        <img id="preview" src="@Model.PictureThumbnail" width="250" height="200" />
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mô tả <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", "ckedit-enabled form-control"},
                                                                    {"id", "description"},
                                                                    {"style", "ckedit-enabled"},
                                                                })
                    </div>
                </div>
                <hr />

                <!--Bảng chi tiết sản phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>Chi tiết sản phẩm</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width: 50px;">STT</th>
                                            <th class="text-center" style="width: 150px;">Size</th>
                                            <th class="text-center" style="width: 150px;">Màu sắc</th>
                                            @*<th class="text-center" style="width: 200px">Giá bán</th>*@
                                            <th class="text-center" style="width: 50px;">
                                                <a class="btn btn-sm btn-danger lock p5" id="addRowAppendixTable" title="Thêm mới">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>
                                        <tbody id="appendixTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Ảnh <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("pictures", "", new Dictionary<string, object>
                                                                                {
                                                                    //{ "required","required"},
                                                                    {"accept", "image/*"},
                                                                    {"id", "pictures"},
                                                                    {"type", "file"},
                                                                    {"multiple", "multiple"},
                                                                })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">

                    </div>
                    <div class="col-md-10">
                        <div class="filearray">
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="Update()" class="btn btn-primary" id="btnLuu" style="width: auto">Lưu</button>
                <a type="button" class="btn btn-success" href="/Product" style="width: auto">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->

@section scripts {
    <script src="~/Scripts/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/TPlugin/TPlugin.js"></script>
    <script src="~/Content/Editors/ckeditor/ckeditor.js"></script>
    <script src="~/Content/Editors/ckeditor/styles.js"></script>
    <script src="~/Content/Editors/ckeditor/build-config.js"></script>
    <script src="~/Content/Editors/ckeditor/config.js"></script>
    <script type="text/javascript">
        var lstAppendix = [];
        var model = @Html.Raw(Json.Encode(Model));

        $(document).ready(function () {
            $("#edit").submit(function () {
                return false;
            });
        });

        function formatDocument() {
            $(".idecimal").decimalMask(2);
            $(".iinteger").decimalMask(0);
            $(".idecimal3").decimalMask(3);
            $(".iupper").upperMask();
            $(".istrupper").upperStringMask();
        }

        function generateSelectSize(appendix, index) {
            var htmlRow = `<select class="form-control size selcted2"  id="size_${index + 1}" required style="width: 100%"></select>`;
            return htmlRow;
        }

        function generateSelectColor(appendix, index) {
            var htmlRow = `<select class="form-control color selcted2"  id="color_${index + 1}" required style="width: 100%"></select>`;
            return htmlRow;
        }

        function generateHtmlAppendixRow(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                                                                <td id="STT" class="text-center">${index + 1}</td>
                                                                <td>
                                                                    ${generateSelectSize(appendix, index)}
                                                                </td>
                                                                <td>
                                                                    ${generateSelectColor(appendix, index)}
                                                                </td>
                                                                <td class="text-center">
                                                                    <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" style"background-color: white !important;" onclick="removeAppendixRow(this)" id="removeAppendixRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>`;
        }
        //<td>
        //    <input type="text" class="form-control inputText price idecimal" id="price_${index + 1}"/>
        //</td>

        $("#addRowAppendixTable").click(function () {
            var appendix = {
                size: '',
                color: '',
                //price: '',
            };
            var htmlRow = generateHtmlAppendixRow(appendix, lstAppendix.length)
            $("#appendixTable #appendixTbody").append(htmlRow);
            lstAppendix.push(appendix);
            formatDocument()
            if (lstAppendix.length > 100) {
                $("#addRowAppendixTable").prop("disabled", true);
            }
            else {
                $("#addRowAppendixTable").prop("disabled", false);
            }

            $(".size").select2({
                theme: "bootstrap",
                cache: true,
                ajax: {
                    url: '/Product/SearchSize',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        return {
                            results: data.map(o => {
                                return { id: o.Id, text: o.Name }
                            })
                        };
                    }
                }
            });

            $(".color").select2({
                theme: "bootstrap",
                cache: true,
                ajax: {
                    url: '/Product/SearchColor',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        return {
                            results: data.map(o => {
                                return { id: o.Id, text: o.Name }
                            })
                        };
                    }
                }
            });
        });

        function removeAppendixRow(element) {
            var row = parseInt($(element).attr("myid"));
            $(element).parent().parent().remove();
            lstAppendix.splice(row - 1, 1);
            if (row <= lstAppendix.length) {
                for (r = row + 1; r <= lstAppendix.length + 1; r++) {
                    $("#appendixTable #standard_" + r + " #STT").text(row);

                    $("#appendixTable #standard_" + r + " .ac").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .ac").attr("myid", "re_" + row);
                    $("#appendixTable #standard_" + r + " .ac").attr("id", "ac_" + row);

                    $("#appendixTable #standard_" + r + " .re").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .re").attr("myid", "ac_" + row);
                    $("#appendixTable #standard_" + r + " .re").attr("id", "re_" + row);

                    $("#appendixTable #standard_" + r + " .appendix-row").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .appendix-row").attr("myid", row);
                    $("#appendixTable #standard_" + r + " .appendix-row").attr("id", "removeAppendixRow_" + row);

                    $("#appendixTable #standard_" + r).attr("id", "standard_" + row);
                    row = row + 1;
                }
            }
        }

        function LoadProductDetail() {
            $('#appendixTbody').html(``);
            var lstDetail = model.lstProductDetail || [];
            for (var i = 0; i < lstDetail.length; i++) {
                $('#addRowAppendixTable').click();
            }

            $('#appendixTbody .appendixRow').each(function (i, e) {
                $(e).find('.size').append(`<option value='${lstDetail[i].SizeId}'>${lstDetail[i].SizeName}</option>`).val(lstDetail[i].SizeId).trigger('change');
                $(e).find('.color').append(`<option value='${lstDetail[i].ColorId}'>${lstDetail[i].ColorName}</option>`).val(lstDetail[i].ColorId).trigger('change');
            })
        }

        $("#ma_san_pham").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/\s/g, "");
            }
        });

        //Lấy thông tin bảng chi tiết sản phẩm
        function GetInfoDetail() {
            lstContents = [];
            for (var i = 0; i < lstAppendix.length; i++) {
                var contents = {
                    SizeId: $('#standard_' + (i + 1) + ' .size').val() * 1,
                    ColorId: $('#standard_' + (i + 1) + ' .color').val() * 1,
                    //price: $('#standard_' + (i + 1) + ' .price').val() * 1,
                };
                if (contents.SizeId <= 0) {
                    $(`#size_${i + 1}`).focus();
                    $('#standard_' + (i + 1) + ' .size').focus();
                    toastr.warning("Size không được để trống!");
                    return 1;
                }
                if (contents.ColorId <= 0) {
                    $(`#color_${i + 1}`).focus();
                    $('#standard_' + (i + 1) + ' .color').focus();
                    toastr.warning("Màu sắc không được để trống!");
                    return 1;
                }
                //if (contents.price <= 0) {
                //    $(`#price_${i + 1}`).focus();
                //    $('#standard_' + (i + 1) + ' .price').focus();
                //    toastr.warning("Giá bán không được để trống!");
                //    return 1;
                //}
                lstContents.push(contents);
            };
            return lstContents;
        }

        function Update() {
            var product_id = model.Id;
            var ma_san_pham = $('#ma_san_pham').val().trim();
            var ten_san_pham = $('#ten_san_pham').val().trim();
            var quantity = $('#quantity').val() * 1;
            var brand = $('#brand').val().trim();
            var category_id = $('#category_id').val() * 1;
            var price = $('#price').val() * 1;
           var description = CKEDITOR.instances.description.getData().trim();
            var picture_thumnail_file = $("#picture_thumnail")[0].files[0];
            var picture_files = $("#pictures")[0].files;

            if (ma_san_pham == null || ma_san_pham == "") {
                $('#ma_san_pham').focus();
            }
            if (ten_san_pham == null || ten_san_pham == "") {
                $('#ten_san_pham').focus();
            }

            var data = new FormData();
            data.append("Id", product_id);
            data.append("Code", ma_san_pham);
            data.append("Name", ten_san_pham);
            data.append("Quantity", quantity);
            data.append("Brand", brand);
            data.append("CategoryId", category_id);
            data.append("Price", price);
            data.append("Description", description);
            data.append("lstStrProductDetails", JSON.stringify(GetInfoDetail()));
            data.append("PictureThumnailFile", picture_thumnail_file);

            for (var i = 0; i < picture_files.length; i++) {
                data.append("PictureFiles", picture_files[i]);
            }

            var title2 = "Bạn có đồng ý cập nhật không?";
            var url = '/Product/Edit';

            if ($("form#edit").valid()) {
                if (data.lstProductDetail === 1)
                    return false;

                swal({
                    title: title2,
                    icon: "warning",
                    buttons: {
                        ok: "Xác nhận",
                        cancel: "Hủy",
                    }
                }).then((isConfirm) => {
                    if (isConfirm != 'ok') {

                    } else {
                        $("#btnLuu").attr("disabled", true);
                        $.ajax({
                            url: url,
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: data,
                            success: function (result) {
                                if (result.status > 0) {
                                    swal({
                                        title: "Cập nhật thành công!",
                                        text: "Dữ liệu của bạn đã được cập nhật!",
                                        icon: "success",
                                    }).then(function (isConfirm) {
                                        window.location.href = '/Product';
                                    });
                                }
                                else {
                                    toastr.error(result.message);
                                }
                            },
                            error: function (err) {
                                toastr.error(result.message);
                            }
                        });
                        $("#btnLuu").attr("disabled", false);
                    }
                });
            }
        }
    </script>
    @* script của upload *@
    <script>
        picture_thumnail.onchange = evt => {
            const [file] = picture_thumnail.files
            if (file) {
                preview.src = URL.createObjectURL(file);
                $("#preview").attr("hidden", false);;
            }
        }
    </script>
    @* script của multiple upload *@
    <script>
        $(document).ready(function () {
            $("#pictures").change(function () {
                $(".filearray").empty();
                for (let i = 0; i < this.files.length; ++i) {
                    let filereader = new FileReader();
                    let $img = $.parseHTML("<img width='250' height='200' src=''>");
                    filereader.onload = function () {
                        $img[0].src = this.result;
                    };
                    filereader.readAsDataURL(this.files[i]);
                    $(".filearray").append($img);
                }
            });
        });
    </script>
    <script>
        CKEDITOR.replaceAll('ckedit-enabled');

        CKEDITOR.on('instanceReady', function (ev) {
            var _heightChecker = $('#cke_1_contents').height();
            if (window.location != window.parent.location) // if in iframe, trigger resize.
                top.$(top).trigger('resize');
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".category_id").select2({
                theme: "bootstrap",
                cache: true,
                ajax: {
                    url: '/Product/SearchCategory',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        console.log(data)
                        return {
                            results: data.map(o => {
                                return { id: o.Id, text: o.Name }
                            })
                        };
                    }
                }
            });

            $('#category_id').append(`<option value='${model.CategoryId}'>${model.CategoryName}</option>`).val(model.CategoryId).trigger('change');
            LoadProductDetail();

            //Load list ảnh
            var lstImg = model.ListImage || [];
            $(".filearray").empty();
            var html = ``;
            for (let i = 0; i < lstImg.length; ++i) {
                html += `<img width='250' height='200' src='${lstImg[i].ImagePath}'>`;
            }
            $(".filearray").html(html);
        })

    </script>
}
