﻿@using NetMVCBuilder.Common
@using NetMVCBuilder.Models.EntityModel
@model NetMVCBuilder.Models.RequestModel.ProductRequestModel
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)Session[CommonConstants.USER_SESSION];
}

<head>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }

        .modal-header {
            background-color: #0076d2;
            color: white;
        }

        .modal-content {
            border: #d0d0d0 solid 2px !important;
            background-color: #fff7ec;
        }

        .ui-autocomplete {
            z-index: 1000;
        }

        .modal-backdrop {
            position: unset;
        }

        .selcted2 {
            width: 100% !important;
        }
    </style>
</head>
<title>Quản lý sản phẩm</title>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tìm kiếm thông tin</h2>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Index", "Product")" id="search-form" method="get">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <label class="lbl">Từ khóa: </label>
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        @Html.TextBoxFor(m => m.Keywords, new Dictionary<string, object>
                          {
                              {"class", " form-control"},
                                {"id", "Keywords"},
                                {"placeholder", "Nhập tên hoặc mã sản phẩm"},
                          })
                    </div>
                    <div class="col-md-2">
                        <button id="btnSearch" class="btn btn-sm btn-primary filter-submit" type="submit">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper" style="display: block;overflow-x: auto;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Quản lý sản phẩm</h2>
                    </div>
                    @if (ViewBag.hasAddPermission)
                    {
                        <div class="col-sm-6">
                            <a href="/Product/Add" class="btn btn-success" style="padding: 10px 30px 10px 30px; border-radius: 5px"><i class="fa fa-plus"></i> Thêm mới</a>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width:50px">STT</th>
                        <th class="text-left" style="width:120px">Mã sản phẩm</th>
                        <th class="text-left" style="width:180px">Tên sản phẩm</th>
                        <th class="text-center" style="color:#00a08a;width:150px;">Tổng nhập từ trước đến nay</th>
                        @*<th class="text-center" style="color:#28a745;width:150px;">Số lượng hiện tại trong kho</th>*@
                        <th class="text-center" style="width:120px">Thương hiệu</th>
                        <th class="text-center" style="width:120px;">Ngày thêm</th>
                        <th class="text-center" width="auto">Chi tiết</th>
                        <th class="text-center" style="width:100px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model.DataInfo)
                    {
                        count++;
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-left">@item.Code</td>
                            <td class="text-left">@item.Name</td>
                            <td class="text-center" style="color:#00a08a;">@string.Format("{0:N0}", item.Quantity == null ? 0 : item.Quantity)</td>
                            @*<td class="text-center" style="color:#28a745;">@string.Format("{0:N0}", item.QuantityCurrent == null ? 0 : item.QuantityCurrent)</td>*@
                            <td class="text-center">@item.Brand</td>
                            <td class="text-center">@(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td class="text-left">
                                @if (item.lstProductDetail.Count > 0)
                                {
                                    <table style="width:100%">
                                        <tr>
                                            <th class="text-center" style="width:15%">Size</th>
                                            <th class="text-center" style="width:15%">Màu sắc</th>
                                            <th class="text-center" style="width:10%;">Sửa</th>
                                        </tr>
                                        <tbody>
                                            @foreach (var c in item.lstProductDetail)
                                            {
                                                <tr>
                                                    <td class="text-center">@c.SizeName</td>
                                                    <td class="text-center">@c.ColorName</td>
                                                    <td class="text-center">
                                                        @if (ViewBag.hasUpdatePermission)
                                                        {
                                                            <a onclick="DeleteChiTiet(@c.Id)" class="details-link" style="margin-right: 5px; cursor: pointer"><i class="fa fa-trash" title="Xóa chi tiết sản phẩm"></i></a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </td>
                            <td class="text-center">
                                @*@if (ViewBag.hasViewPermission)
                                    {
                                        <a href="/Product/Details/@item.id" class="details-link" style="margin-right: 5px;"><i class="fa fa-eye" title="Xem"></i></a>
                                    }*@
                                @if (ViewBag.hasUpdatePermission)
                                {
                                    <a href="/Product/Edit/@item.Id" class="edit" style="margin-right: 5px;"><i class="fa fa-edit" title="Sửa"></i></a>
                                }
                                @if (ViewBag.hasUpdatePermission)
                                {
                                    <a onclick="OpenModalAddChiTietSanPham(@item.Id, '@item.Name')" class="edit" style="margin-right: 5px;"><i class="fa fa-plus" title="Thêm 1 chi tiết sản phẩm"></i></a>
                                }
                                @if (ViewBag.hasDeletePermission)
                                    {
                                        <a onclick="Delete(@item.Id)" class="delete" style="margin-right: 5px; cursor: pointer"><i class="fa fa-trash" title="Xóa"></i></a>
                                    }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--Paging-->
            <div class="row paging">
                <div class="col-md-3" style="text-align: left; margin-top: 8px; padding: 0px;">
                    <label>Có tất cả @Model.totalRecord kết quả</label>
                </div>
                <div class="col-md-9" style="padding: 0px;">
                    <ul class="pagination">
                        @{
                            int position;
                            if (Model.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Product", new { page = Model.page-1, pageSize = Model.pageSize, KeySearch = Model.Keywords})" tabindex="-1"> << </a>
                                </li>
                            }

                            for (position = 1; position <= Model.totalPage; position++)
                            {

                                if (position == Model.page)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Product", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Product", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                            }
                            if (Model.page > 0 && Model.page < Model.totalPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Product", new { page = Model.page+1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> >> </a>
                                </li>
                            }

                            if (Model.totalPage == 0)
                            {
                                <li>
                                    <div role="status" aria-live="polite">Không có dữ liệu hiển thị</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal content-->
    <div class="modal" id="Modal-AddChiTietSanPham" style="height:auto;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><b>Thêm mới chi tiết sản phẩm</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="san_pham_id" />
                            <b id="ten_san_Pham"></b>
                            <hr />
                            <label for="displayOrder">Size <span style="color:red">*</span></label>
                            <div class="input-group" style="margin-bottom:5px;">
                                <select class="form-control" id="select_size" style="width:100%;"></select>
                            </div>
                            <label for="displayOrder">Màu sắc <span style="color:red">*</span></label>
                            <div class="input-group" style="margin-bottom:5px;">
                                <select class="form-control" id="select_color" style="width:100%;"></select>
                            </div>
                            @*<label for="displayOrder">Số lượng giới hạn gửi cảnh báo <span style="color:red">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control iinteger" id="quantity_limit" />
                            </div>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal">Đóng</button>
                    <button onclick="AddChiTietSanPham()" type="button" class="btn btn-primary" id="btnLuu">Lưu</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Quantity Limit-->
    <div class="modal" id="Modal-EditQuantityLimit" style="height:auto;" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"><b>Chỉnh sửa giới hạn số lượng cảnh báo</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="san_pham_id_edit" />
                            <b id="ten_san_pham_edit"></b>
                            <hr />
                            @*<label for="displayOrder">Số lượng giới hạn gửi cảnh báo <span style="color:red">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control iinteger" id="quantity_limit_edit" />
                            </div>*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal">Đóng</button>
                    <button onclick="EditQuantityLimit()" type="button" class="btn btn-primary" id="btnLuu1">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</body>

@section scripts {
    <script src="~/Scripts/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/TPlugin/TPlugin.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".idecimal").decimalMask(2);
            $(".iinteger").decimalMask(0);

            $("#select_size").select2({
                theme: "bootstrap",
                cache: true,
                dropdownParent: $("#Modal-AddChiTietSanPham"),
                //dropdownAutoWidth: true,
                ajax: {
                    url: '/Product/SearchSize',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        return {
                            results: data.map(o => {
                                return { id: o.Id, text: o.Name }
                            })
                        };
                    }
                }
            });

            $("#select_color").select2({
                theme: "bootstrap",
                cache: true,
                dropdownParent: $("#Modal-AddChiTietSanPham"),
                ajax: {
                    url: '/Product/SearchColor',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        return {
                            results: data.map(o => {
                                return { id: o.Id, text: o.Name }
                            })
                        };
                    }
                }
            });
        });

        function Delete(Id) {
            var data = {
                Id: Id,
            };
            var title = "Bạn có đồng ý xóa dữ liệu này không?";
            var url = '/Product/Delete/';
            swal({
                title: title,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm !== 'ok') {

                } else {
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Xóa thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Product';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                }
            });
        }

        function DeleteChiTiet(Id) {
            var data = {
                Id: Id,
            };
            var title = "Bạn có đồng ý xóa dữ liệu này không?";
            var url = '/Product/DeleteProductDetail/';
            swal({
                title: title,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm !== 'ok') {

                } else {
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Xóa thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Product';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                }
            });
        }

        function OpenModalAddChiTietSanPham(id, name) {
            $('#san_pham_id').val(id);
            $('#ten_san_Pham').text(name);
            $('#select_size').val('');
            //$('#quantity_limit').val('');
            $('#select_color').val('');
            $('#select_size').text('');
            $('#select_color').text('');
            $('#Modal-AddChiTietSanPham').modal('show');
        }

        function OpenModalEditQuantityLimit(id, quantity_limit, name) {
            $('#san_pham_id_edit').val(id);
            $('#ten_san_pham_edit').text(name);
            $('#quantity_limit_edit').val(quantity_limit);
            $('#Modal-EditQuantityLimit').modal('show');
        }

        function AddChiTietSanPham() {
            var data = {
                ProductId: $('#san_pham_id').val() * 1,
                SizeId: $('#select_size').val() * 1,
                ColorId: $('#select_color').val() * 1,
                //quantity_limit: $('#quantity_limit').val() * 1,
            };

            if (data.ProductId <= 0) {
                toastr.warning('Đã có lỗi xảy ra!')
                return false;
            }
            if (data.SizeId <= 0) {
                toastr.warning('Bạn chưa chọn size!')
                $('#select_size').focus();
                return false;
            }
            if (data.ColorId <= 0) {
                toastr.warning('Bạn chưa chọn màu sắc!')
                $('#select_color').focus();
                return false;
            }
            

            var url = '/Product/AddProductDetail';
            $.ajax({
                url: "/Product/CheckDuplicatedChiTietSanPham/",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: `{'size':'${data.SizeId}', 'color':'${data.ColorId}', 'san_pham_id':'${data.ProductId}'}`,
                success: function (result) {
                    if (result == true) {
                        swal({
                            title: "Bạn có đồng ý thêm mới?",
                            icon: "warning",
                            buttons: {
                                ok: "Xác nhận",
                                cancel: "Hủy",
                            }
                        }).then((isConfirm) => {
                            if (isConfirm != 'ok') {

                            } else {
                                $("#btnLuu").attr("disabled", true);
                                $.post(url, data,
                                    function (rs) {
                                        if (rs.status > 0) {
                                            swal({
                                                title: "Cập nhật thành công!",
                                                text: "Dữ liệu của bạn đã được cập nhật!",
                                                icon: "success",
                                            }).then(function (isConfirm) {
                                                window.location.href = '/Product';
                                            });
                                        }
                                        else {
                                            toastr.error(rs.message);
                                        }
                                    });
                                $("#btnLuu").attr("disabled", false);
                            }
                        });
                    }
                    else {
                        var ten_sp = $('#ten_san_Pham').text();
                        toastr.warning(`Chi tiết sản phẩm của ${ten_sp} đã bị trùng!`)
                    }
                }
            });
        }
    </script>
}
