﻿@using NetMVCBuilder.Models.Enum
@model NetMVCBuilder.Models.EntityModel.NewsArticle
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>@(Model.Id > 0 ? "Chỉnh sửa tin bài" : "Thêm mới tin bài")</title>
</head>
<link href="~/Content/jquery.mrcms-mediaselector.css" rel="stylesheet" />
<link href="~/Content/featherlight.css" rel="stylesheet" />
<style>
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
        z-index: 3000;
    }

    #cke_1_contents {
        min-height: 400px !important;
    }

    .cke_editable.cke_editable_inline {
        cursor: pointer;
    }

        .cke_editable.cke_editable_inline.cke_focus {
            box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
            outline: none;
            background: #eee;
            cursor: text;
        }

    .cke_editable_inline pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .cke_contents_ltr blockquote {
        padding-left: 20px;
        padding-right: 8px;
        border-left-width: 5px;
    }

    .cke_contents_rtl blockquote {
        padding-left: 8px;
        padding-right: 20px;
        border-right-width: 5px;
    }

    /*.cke_contents_ltr blockquote {
        padding-left: 20px;
        padding-right: 8px;
        border-left-width: 5px;
    }

    .cke_contents_rtl blockquote {
        padding-left: 8px;
        padding-right: 20px;
        border-right-width: 5px;
    }*/

    .settings-textarea {
        width: 100%;
        height: 150px;
    }

    /*.cke_editable {
        font-size: 13px;
        line-height: 1.6;
    }*/

    blockquote {
        font-style: italic;
        font-family: "Roboto", sans-serif;
        padding: 2px 0;
        border-style: solid;
        border-color: #ccc;
        border-width: 0;
    }

    .fm-modal {
        z-index: 999999; /** Because CKEditor image dialog was at 10010 */
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        border: 0;
        position: fixed;
        -moz-box-shadow: 0px 1px 5px 0px #656565;
        -webkit-box-shadow: 0px 1px 5px 0px #656565;
        -o-box-shadow: 0px 1px 5px 0px #656565;
        box-shadow: 0px 1px 5px 0px #656565;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
    }

    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>@(Model.Id > 0 ? "Chỉnh sửa tin bài" : "Thêm mới tin bài")</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li style="margin-right: 10px"><a href="/NewsArticle"><i class="fa fa-list"></i>Danh sách</a></li>
                <li class="active">
                    <span>@(Model.Id > 0 ? "Chỉnh sửa" : "Thêm mới")</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(m => m.Id, new { @class = "form-control", @id = "Id" })

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Tiêu đề <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(a => a.Name, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "Name"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mô tả <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(a => a.Summary, new Dictionary<string, object>
                                        {
                            { "required","required"},
                            {"class", " form-control"},
                            {"id", "Summary"},
                        })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Nội dung <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(a => a.ContentNews, new Dictionary<string, object>
                                                                {
                                                                    { "required","required"},
                                                                    {"class", "ckedit-enabled form-control"},
                                                                    {"id", "ContentNews"},
                                                                    {"style", "ckedit-enabled"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Hiển thị trên trang chủ</label>
                    </div>
                    <div class="col-md-1">
                        <input type="checkbox" id="IsHot" class="checkbox" style="width:30px;height:30px;" @(Model.IsHot == 1 ? "checked='checked'" : "") />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Trạng thái bài viết</label>
                    </div>
                    <div class="col-md-2">
                        @if (Model.Status == (int)NewsStatus.Publish)
                        {
                            <label>Đã xuất bản</label>
                        }
                        else
                        {
                            <select id="Status" class="form-control">
                                <option value="" selected="selected">--Chọn trạng thái--</option>
                                <option value="@((int)NewsStatus.Publish)">Xuất bản ngay</option>
                                <option value="@((int)NewsStatus.Draft)" @(Model.Status == (int)NewsStatus.Draft ? "selected=''selected'" : "")>Lưu bản nháp</option>
                            </select>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Chọn ảnh thumbnail <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-2" style="margin-top: 3px;">
                        <input type="file" id="fileUpload" accept="image/*" name="fileUpload" value="Tải ảnh lên" />
                    </div>
                    <div class="col-md-6">
                        @if (Model.PictureThumbnail != null)
                        {
                            <img class="img-responsive" id="imgk_load" style="max-width: 350px;max-height:221px; margin-bottom: 5px;" src="data:image/png;base64,@Model.PictureThumbnail" />
                        }
                        else
                        {<img class="img-responsive" id="imgk_load" style="max-width: 350px;max-height:221px; margin-bottom: 5px;" src="" />}
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="AddOrUpdate()" class="btn btn-primary" id="btnLuu">Lưu</button>
                <a type="button" class="btn btn-success" href="/NewsArticle">Hủy</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/lib/jquery/jquery-1.11.2.min.js"></script>
<script src="~/Scripts/lib/jquery/ui/jquery-ui.js"></script>
<script src="~/Scripts/lib/store.js"></script>
<script src="~/Scripts/lib/jquery/validate/jquery.validate.js"></script>
<script src="~/Scripts/lib/jquery/validate/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>*@
<script src="~/Scripts/lib/tag-it.min.js"></script>
<script src="~/Scripts/lib/jquery.noty.packaged.js"></script>
<script src="~/Scripts/lib/jstree/jstree.js"></script>
<script src="~/Scripts/lib/dropzone.js"></script>
<script src="~/Scripts/lib/featherlight.js"></script>
<script src="~/Scripts/lib/jquery.are-you-sure.js"></script>
<script src="~/Scripts/lib/update-area.js"></script>
<script src="~/Scripts/media.js"></script>
<script src="~/Scripts/media-uploader.js"></script>
<script src="~/Scripts/media-category.js"></script>
<script src="~/Content/Editors/ckeditor/ckeditor.js"></script>
<script src="~/Content/Editors/ckeditor/styles.js"></script>
<script src="~/Content/Editors/ckeditor/build-config.js"></script>
<script src="~/Content/Editors/ckeditor/config.js"></script>
<script src="~/Scripts/mrcms-media-selector.js"></script>


<script type="text/javascript" src="~/Scripts/mrcms/menu.js"></script>
<script type="text/javascript" src="~/Scripts/mrcms/stickyTabs.js"></script>
<script type="text/javascript" src="~/Scripts/mrcms/admin.js"></script>
<script type="text/javascript" src="~/Scripts/mrcms/tagging.js"></script>
<script type="text/javascript" src="~/Scripts/mrcms/search.js"></script>
@*<script type="text/javascript" src="~/Scripts/mrcms/batch.js"></script>*@
<script type="text/javascript" src="~/Scripts/mrcms/media-uploader.js"></script>
<script type="text/javascript" src="~/Scripts/mrcms/mrcms-media-selector.js"></script>

<script type="text/javascript">
    $("#fileUpload").change(function () {
        if (window.FormData !== undefined) {
            var fileUpload = $("#fileUpload").get(0);
            var files = fileUpload.files;
            var formData = new FormData();
            formData.append("fileUpload", files[0]);
            $.ajax({
                type: 'POST',
                url: '/NewsArticle/UploadImageThumbnail',
                contentType: false, //No header
                processData: false, //No process data
                data: formData,
                success: function (rs) {
                    $('#imgk_load').attr('src', rs);
                },
                error: function (err) {
                    toastr.error("Có lỗi xảy ra khi upload");
                },
            });
        };

    });

    function setCloseButtonPosition(contents) {
        var offset = contents.find(".featherlight-content").offset();
        var scrollTop = $(document).scrollTop();
        contents.find(".featherlight-close-icon").css('top', offset.top - scrollTop);
        contents.find(".featherlight-close-icon").css('right', offset.left - 20);
    }

    function extractLast(term) {
        return split(term).pop();
    }
    function split(val) {
        return val.split(/,\s*/);
    }

    $.fn.mrcmsinline = function (method) {
        // Method calling logic
        if (methods[method]) {
            return methods[method].apply(this, Array.prototype.slice.call(arguments, 1));
        } else if (typeof method === 'object' || !method) {
            return methods.init.apply(this, arguments);
        } else {
            $.error('Method ' + method + ' does not exist on jQuery.mrcmsModelodelodelmrcmsinline');
        }
    };
    CKEDITOR.replaceAll('ckedit-enabled');
    CKEDITOR.on('instanceReady', function (ev) {
        var _heightChecker = $('#cke_1_contents').height();
        if (window.location != window.parent.location) // if in iframe, trigger resize.
            top.$(top).trigger('resize');
    });

    $('[data-type=media-selector], [class=media-selector]').mediaSelector();
    var form = $('form');

    $(document).trigger('initialize-plugins', {});

    (function ($) {


        CKEDITOR.config.allowedContent = true;
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_P;
        CKEDITOR.config.autoParagraph = false;

        CKEDITOR.config.bodyClass = 'cke_editableth';
        var settings, methods = {
            init: function (options) {
                console.log(options);
                settings = {
                    editableSelector: '.editable'
                };
                if (options) {

                    $.extend(settings, options);
                }
                //parent.CKEDITOR.disableAutoInline = true;
                //parent.CKEDITOR.on('instanceCreated', function (event) {
                //    var editor = event.editor;
                //    editor.on('configLoaded', function () {
                //        editor.config.toolbar = 'Basic';
                //    });

                //});

                $("#enable-editing").click(function () {
                    $(this).mrcmsinline(!getEditingEnabled() ? 'enable' : 'disable');
                });
                $(this).mrcmsinline(getEditingEnabled() ? 'enable' : 'disable', true);

                $('body').addClass('mrcms-admin-bar-on');

                //
                return this;
            },

            enable: function () {
                $("body").addClass("editing-on");
                setEditingEnabled(true);
                $("#enable-editing").text("Inline Editing: On").addClass("mrcms-btn-warning");
                $(".layout-area").addClass('layout-area-enabled');

                //foreach widget add edit indicator
                $("div[data-widget-id]", document).each(function () {
                    $(this).prepend("<div class='edit-indicator-widget' style='diaply:none;'><img src='/Content/img/pencil.png' /></div>");
                });
                //foreach layout area add edit indicator
                $("div[data-layout-area-id]", document).each(function (element) {
                    if ($(this).height() == 0) {
                        $(this).prepend("<div class='edit-indicator-layout corner'><img src='/Content/img/layout-2.png' /></div>");
                    } else {
                        $(this).prepend("<div class='edit-indicator-layout'><img src='/Content/img/layout-1.png' /></div>");
                    }

                });

                $(".edit-indicator-layout", document).fadeIn(800);
                $(".edit-indicator-widget", document).fadeIn(800);

                //create menu for widget editing
                $('.edit-indicator-widget', document).click(function () {
                    var widgetId = $(this).parent().data('widget-id');
                    var name = $(this).parent().data('widget-name');
                    var menu = '<div class="mrcms-edit-menu mrcms-edit-widget"><h4>' + name + '</h4>' +
                        '<ul>' +
                        '<li><a id="" data-toggle="fb-modal" href="/Widget/Edit/' + widgetId + '?returnUrl=' + window.top.location + '" target="_parent" class="mrcms-btn mrcms-btn-mini mrcms-btn-primary">Edit</a></li>' +
                        '<li><a id="" data-toggle="fb-modal" href="/Widget/Delete/' + widgetId + '" target="_parent" class="mrcms-btn mrcms-btn-mini mrcms-btn-danger">Delete</a></li>' +
                        '</ul></div>';
                    $(this).parent().prepend(menu);
                    $(".mrcms-edit-widget", document).fadeIn(400);

                    //if click outside hide the menu
                    $(document).mouseup(function (e) {
                        var container = $(".mrcms-edit-widget", document);
                        if (container.has(e.target).length === 0) {
                            container.remove();
                        }
                    });
                });

                //create menu for layout editing
                $('.edit-indicator-layout', document).click(function () {
                    var areaId = $(this).parent().data('layout-area-id');
                    var areaName = $(this).parent().data('layout-area-name');
                    var customLayout = $(this).parent().data('layout-area-hascustomsort');
                    var pageId = $('#Id').val();
                    var resetMenu = '';
                    if (customLayout == 'True')
                        resetMenu = '<li><a tab-index="3" href="/LayoutArea/ResetSorting/' + areaId + '?pageId=' + pageId + '&returnUrl=' + top.location.href + '" data-action="post-link" class="mrcms-btn mrcms-btn-mini mrcms-btn-danger">Reset custom sort</a></li>';

                    var menu = '<div class="mrcms-edit-menu mrcms-edit-layout-area"><h4>' + areaName +
                        '</h4><ul><li><a tab-index="1" href="/Widget/Add?pageId=' + pageId + '&id=' + areaId + '" data-toggle="fb-modal" class="mrcms-btn mrcms-btn-mini mrcms-btn-primary">Add widget</a></li>' +
                        '<li><a tab-index="3" href="/LayoutArea/SortWidgets/' + areaId + '?returnUrl=' + top.location.href + '" class="mrcms-btn mrcms-btn-mini mrcms-btn-default" data-toggle="fb-modal">Sort widgets</a></li>' +
                        resetMenu +
                        '<li><a tab-index="2" href="/LayoutArea/SortWidgetsForPage/' + areaId + '?pageId=' + pageId + '&returnUrl=' + top.location.href + '" class="mrcms-btn mrcms-btn-mini mrcms-btn-default" data-toggle="fb-modal">Sort widgets for page</a></li></ul></div>';

                    $(this).parent().prepend(menu);
                    $(".mrcms-edit-layout-area", document).fadeIn(400);
                    //if click outside hide the menu
                    $(document).mouseup(function (e) {
                        var container = $(".mrcms-edit-layout-area", document);
                        if (container.has(e.target).length === 0) {
                            container.remove();
                        }
                    });

                    $('[data-action=post-link]').on('click', function (e) {
                        e.preventDefault();
                        var self = $(this);
                        var url = self.attr('href') || self.data('link');
                        if (url != null) {
                            post_to_url(url, {});
                        }
                    });

                });
            },
            disable: function (init) {
                setEditingEnabled(false);
                $("body").removeClass("editing-on");
                $(".layout-area").removeClass('layout-area-enabled');
                $("#enable-editing").text("Inline Editing: Off").removeClass("mrcms-btn-warning");;
                //remove all edit tools
                $(".edit-indicator-layout", document).remove();
                $(".edit-indicator-widget", document).remove();
                $(".edit-widget-menu", document).remove();
                $(".edit-layout-area-menu", document).remove();

                $(settings.editableSelector, document).each(function (index, element) {
                    var el = $(element);
                    if (el.data("is-html") == true && !init) {
                        showLiveForm(el);
                    }
                });
                $(settings.editableSelector, document).attr("contenteditable", "false");
                //kill all ckeditors
                for (k in parent.CKEDITOR.instances) {
                    var instance = parent.CKEDITOR.instances[k];
                    instance.destroy(true);
                }
            }
        };

        $.fn.mrcmsinline = function (method) {
            // Method calling logic
            if (methods[method]) {
                return methods[method].apply(this, Array.prototype.slice.call(arguments, 1));
            } else if (typeof method === 'object' || !method) {
                return methods.init.apply(this, arguments);
            } else {
                $.error('Method ' + method + ' does not exist on jQuery.mrcms-mrcmsinline');
            }
        };

        function showLiveForm(el) {
            $.get('/InPageAdmin/GetFormattedBodyContent/', { id: el.data('id'), property: el.data('property'), type: el.data('type') }, function (response) {
                el.html(response);
                $.validator.unobtrusive.parse(el.find('form'));
            });
        };

        function getEditingEnabled() {
            return store.get('mrcms-inline-edit') === true;
        }

        function setEditingEnabled(value) {
            return store.set('mrcms-inline-edit', value);
        }
        function stripHtml(str) {
            return jQuery('<div />', { html: str }).text();
        }


    })(jQuery);

    function showUpload() {

        var mediaSelector = new MediaSelector({
            onSelected: function (info) {
                console.log(info);
                $('#Picture').val(info.Url);
                $("#img_load").attr("src", info.Url);
                $.featherlight.close();
            }
        });
        mediaSelector.show($);
    }
    function removeFileImage() {
        $('#Picture').val('');
        $("#img_load").attr("src", '');
    }

    function AddOrUpdate() {
        var id = $('#Id').val() * 1;
        var name = $('#Name').val().trim();
        var summary = $('#Summary').val().trim();
        var contentNews = CKEDITOR.instances.ContentNews.getData().trim();
        var fileThumbnail = $("#fileUpload")[0].files;
        var isHot = $('#IsHot').is(':checked');
        var status = $('#Status').val() * 1;

        if (name == "" || name.length == 0) { toastr.warning('Bạn chưa nhập tên bài viết'); return false; }
        if (name.length >= 1000) { toastr.warning('Tên bài viết quá dài'); return false; }
        if (summary == "" || summary.length == 0) { toastr.warning('Bạn chưa nhập mô tả bài viết'); return false; }
        if (name.length >= 2000) { toastr.warning('Mô tả bài viết quá dài'); return false; }
        if (contentNews == "" || contentNews.length == 0) { toastr.warning('Bạn chưa nhập nội dung bài viết'); return false; }
        if (id <= 0 && fileThumbnail.length <= 0) { toastr.warning('Bạn chưa thêm ảnh thumbnail cho bài viết'); return false; }

        var data = new FormData();
        data.append("Id", id);
        data.append("Name", name);
        data.append("Summary", summary);
        data.append("ContentNews", contentNews);
        data.append("IsHot", isHot == true ? 1 : 0);
        data.append("PictureFiles", fileThumbnail[0]);

        if (isHot == true) { data.append("IsHot", 1); }
        if (status != undefined) { data.append("Status", status); }

        var title2 = "Bạn có đồng ý thêm mới không";
        var url = '/NewsArticle/Update';
        if (id * 1 > 0) {
            title2 = "Bạn có đồng ý cập nhật không";
        }
        swal({
            title: title2,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {
            } else {
                $("#btnLuu").attr("disabled", true);
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.status > 0) {
                            swal({
                                title: "Cập nhật thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/NewsArticle';
                            });
                        }
                        else {
                            toastr.error('Thêm thất bại!');
                        }
                    },
                    error: function (err) {
                        toastr.error('Thêm thất bại!');
                    }
                });
                $("#btnLuu").attr("disabled", false);
            }
        });
    }
    function deleteItem() {
        var data = {
            Id: $('#Id').val() * 1,
            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
        };
        swal({
            title: 'Xác nhận',
            text: 'Bạn có đồng ý xóa tin tức không?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận',
            cancelButtonText: 'Quay lại'
        }).then(function (isConfirm) {
            if (isConfirm.dismiss === 'cancel') {

            } else {
                $.post('/News/Delete', data,
                    function (rs) {
                        if (rs.status == 1) {
                            toastr.options.onHidden = function () {
                                window.location.href = '/News';
                            };
                            toastr.success(rs.msg);
                        }
                        else {
                            console.log(rs);
                            toastr.error(rs.msg);
                        }
                    });
            }


        });
    }
    function Cancel() {
        window.location.href = "/NewsArticle";
    }
</script>