﻿@using NetMVCBuilder.Common
@using NetMVCBuilder.Models.EntityModel
@using NetMVCBuilder.Models.Enum
@model NetMVCBuilder.Models.RequestModel.NewsArticleRequestModel
@{
    ViewBag.Title = "Quản lý tin bài";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)Session[CommonConstants.USER_SESSION];
}

<head>
    <title>Quản lý tin bài</title>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tìm kiếm thông tin</h2>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Index", "NewsArticle")" id="search-form" method="get">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <label class="lbl">Từ khóa: </label>
                    <div class="col-md-2" style="margin-bottom: 10px;">
                        @Html.TextBoxFor(m => m.Keywords, new Dictionary<string, object>
                         {
                             {"class", " form-control"},
                               {"id", "Keywords"},
                               {"placeholder", "Nhập tên..."},
                         })
                    </div>
                    <label class="lbl">Từ ngày: </label>
                    <div class="col-md-2" style="margin-bottom: 10px;">
                        @Html.TextBoxFor(m => m.FromDate, new Dictionary<string, object>
                        {
                            {"class", " form-control"},
                              {"id", "FromDate"},
                              {"type", "Date"},
                              {"placeholder", "MM/dd/yyyy"},
                        })
                    </div>
                    <label class="lbl">Đến ngày: </label>
                    <div class="col-md-2" style="margin-bottom: 10px;">
                        @Html.TextBoxFor(m => m.ToDate, new Dictionary<string, object>
                        {
                            {"class", " form-control"},
                              {"id", "ToDate"},
                              {"type", "Date"},
                              {"placeholder", "MM/dd/yyyy"},
                        })
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row" style="margin-top: 20px;text-align:center">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <button id="btnSearch" class="btn btn-sm btn-primary filter-submit" type="submit">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Danh sách tin bài</h2>
                    </div>

                    <div class="col-sm-6">
                        <a href="/NewsArticle/ViewTrash" class="btn btn-secondary" style="border-radius: 5px"><i class="fa fa-recycle"></i> Thùng rác</a>
                        @if (ViewBag.hasAddPermission)
                        {
                            <a href="/NewsArticle/Edit/0" class="btn btn-success" style="border-radius: 5px"><i class="fa fa-plus"></i> Thêm mới</a>
                        }
                    </div>

                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên bài báo</th>
                        <th class="text-center">Ảnh thumbnail</th>
                        <th class="text-center">Trạng thái xuất bản</th>
                        <th class="text-center">Ngày tạo</th>
                        <th class="text-center" style="width:200px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model.data)
                    {
                        count++;
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-left">@item.Name</td>
                            <td class="text-center">
                                <img class="img-responsive" id="imgk_load" style="max-width: 120px;max-height:63px; margin-bottom: 5px;" src="data:image/png;base64,@item.PictureThumbnail" />
                            </td>
                            <td class="text-center">@(item.Status == (int)NewsStatus.Publish ? "Đã xuất bản" : "Bản nháp")</td>
                            <td class="text-center">@item.CreatedDate</td>
                            <td class="text-center">
                                @if (ViewBag.hasViewPermission && item.Status == (int)NewsStatus.Publish)
                                {
                                    <a target="_blank" href="/Home/NewsArticleDetail?id=@item.Id&url=@item.UrlSegment" class="details-link" style="margin-right: 5px;"><i class="fa fa-eye" title="Xem"></i></a>
                                }
                                @if (ViewBag.hasUpdatePermission)
                                {
                                    <a href="/NewsArticle/Edit/@item.Id" class="edit" style="margin-right: 5px;"><i class="fa fa-edit" title="Sửa"></i></a>
                                }
                                @if (ViewBag.hasDeletePermission)
                                {
                                    <a onclick="Delete(@item.Id)" class="delete" style="margin-right: 5px; cursor: pointer"><i class="fa fa-trash" title="Xóa"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--Paging-->
            <div class="row paging">
                <div class="col-md-3" style="text-align: left; margin-top: 8px; padding: 0px;">
                    <label>Có tất cả @Model.totalRecord kết quả</label>
                </div>
                <div class="col-md-9" style="padding: 0px;">
                    <ul class="pagination">
                        @{
                            int position;
                            if (Model.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "NewsArticle", new { page = Model.page-1, pageSize = Model.pageSize, Keywords = Model.Keywords, FromDate = Model.FromDate, ToDate = Model.ToDate})" tabindex="-1"> << </a>
                                </li>
                            }

                            for (position = 1; position <= Model.totalPage; position++)
                            {

                                if (position == Model.page)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "NewsArticle", new { page = position, pageSize = Model.pageSize, Keywords = Model.Keywords, FromDate = Model.FromDate, ToDate = Model.ToDate })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "NewsArticle", new { page = position, pageSize = Model.pageSize, Keywords = Model.Keywords, FromDate = Model.FromDate, ToDate = Model.ToDate })">@position</a></li>
                                }

                            }
                            if (Model.page > 0 && Model.page < Model.totalPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "NewsArticle", new { page = Model.page+1, pageSize = Model.pageSize, Keywords = Model.Keywords, FromDate = Model.FromDate, ToDate = Model.ToDate })" tabindex="-1"> >> </a>
                                </li>
                            }

                            if (Model.totalPage == 0)
                            {
                                <li>
                                    <div role="status" aria-live="polite">Không có dữ liệu hiển thị</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function Delete(Id) {
        var data = {
            Id: Id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/NewsArticle/Delete/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm !== 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/NewsArticle';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
</script>