/** =================== Roboto =================== **/

/** Roboto Thin **/
@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src: url("Roboto-Thin.ttf") format('truetype');
}

/** Roboto Thin-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    src: url("Roboto-ThinItalic.ttf") format('truetype');
}

/** Roboto ExtraLight **/
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    font-style: normal;
    src: url("Roboto-ExtraLight.ttf") format('truetype');
}

/** Roboto ExtraLight-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 200;
    font-style: italic;
    src: url("Roboto-ExtraLightItalic.ttf") format('truetype');
}

/** Roboto Light **/
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url("Roboto-Light.ttf") format('truetype');
}

/** Roboto Light-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    src: url("Roboto-LightItalic.ttf") format('truetype');
}

/** Roboto Regular **/
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("Roboto-Regular.ttf") format('truetype');
}

/** Roboto Regular-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: url("Roboto-Italic.ttf") format('truetype');
}

/** Roboto Medium **/
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url("Roboto-Medium.ttf") format('truetype');
}

/** Roboto Medium-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url("Roboto-MediumItalic.ttf") format('truetype');
}

/** Roboto SemiBold **/
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: normal;
    src: url("Roboto-SemiBold.ttf") format('truetype');
}

/** Roboto SemiBold-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 600;
    font-style: italic;
    src: url("Roboto-SemiBoldItalic.ttf") format('truetype');
}

/** Roboto Bold **/
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url("Roboto-Bold.ttf") format('truetype');
}

/** Roboto Bold-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    src: url("Roboto-BoldItalic.ttf") format('truetype');
}

/** Roboto ExtraBold **/
@font-face {
    font-family: "Roboto";
    font-weight: 800;
    font-style: normal;
    src: url("Roboto-ExtraBold.ttf") format('truetype');
}

/** Roboto ExtraBold-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 800;
    font-style: italic;
    src: url("Roboto-ExtraBoldItalic.ttf") format('truetype');
}

/** Roboto Black **/
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src: url("Roboto-Black.ttf") format('truetype');
}

/** Roboto Black-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    src: url("Roboto-BlackItalic.ttf") format('truetype');
}

/** =================== Roboto ALTERNATES =================== **/

/** Roboto Alternates Thin **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 100;
    font-style: normal;
    src: url("RobotoAlternates-Thin.ttf") format('truetype');
}

/** Roboto Alternates Thin-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 100;
    font-style: italic;
    src: url("RobotoAlternates-ThinItalic.ttf") format('truetype');
}

/** Roboto Alternates ExtraLight **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 200;
    font-style: normal;
    src: url("RobotoAlternates-ExtraLight.ttf") format('truetype');
}

/** Roboto Alternates ExtraLight-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 200;
    font-style: italic;
    src: url("RobotoAlternates-ExtraLightItalic.ttf") format('truetype');
}

/** Roboto Alternates Light **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 300;
    font-style: normal;
    src: url("RobotoAlternates-Light.ttf") format('truetype');
}

/** Roboto Alternates Light-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 300;
    font-style: italic;
    src: url("RobotoAlternates-LightItalic.ttf") format('truetype');
}

/** Roboto Alternates Regular **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("RobotoAlternates-Regular.ttf") format('truetype');
}

/** Roboto Alternates Regular-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 400;
    font-style: italic;
    src: url("RobotoAlternates-Italic.ttf") format('truetype');
}

/** Roboto Alternates Medium **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("RobotoAlternates-Medium.ttf") format('truetype');
}

/** Roboto Alternates Medium-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 500;
    font-style: italic;
    src: url("RobotoAlternates-MediumItalic.ttf") format('truetype');
}

/** Roboto Alternates SemiBold **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("RobotoAlternates-SemiBold.ttf") format('truetype');
}

/** Roboto Alternates SemiBold-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 600;
    font-style: italic;
    src: url("RobotoAlternates-SemiBoldItalic.ttf") format('truetype');
}

/** Roboto Alternates Bold **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("RobotoAlternates-Bold.ttf") format('truetype');
}

/** Roboto Alternates Bold-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 700;
    font-style: italic;
    src: url("RobotoAlternates-BoldItalic.ttf") format('truetype');
}

/** Roboto Alternates ExtraBold **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 800;
    font-style: normal;
    src: url("RobotoAlternates-ExtraBold.ttf") format('truetype');
}

/** Roboto Alternates ExtraBold-Italic **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 800;
    font-style: italic;
    src: url("RobotoAlternates-ExtraBoldItalic.ttf") format('truetype');
}

/** Roboto Alternates Black **/
@font-face {
    font-family: "Roboto Alternates";
    font-weight: 900;
    font-style: normal;
    src: url("RobotoAlternates-Black.ttf") format('truetype');
}

/** Roboto Alternates Black-Italic **/
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    src: url("RobotoAlternates-BlackItalic.ttf") format('truetype');
}