﻿@using System.Drawing
@model NetMVCBuilder.Models.EntityModel.ProductImage
@{
    Layout = "";

}
<div class="file-result" data-file-result="@Model.Id">
    <div class="header">
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive" id="" style="max-width: 120px;max-height:63px; margin-bottom: 5px;" src="@Model.ImagePath" />
            </div>
            <div class="col-md-10">
                @Model.NameDisplay - @(Model.ContentLength ?? "0") bytes
                &emsp;
                <input type="button" class="btn-primary btn btn-sm" data-file="@Model.Id" id="test_@Model.Id" data-action="select" value="Chọn file" />
            </div>
        </div>
    </div>
</div>
