﻿@using System.Collections.Generic
@using System.Linq
@using NetMVCBuilder.Models.EntityModel
@model NetMVCBuilder.Models.RequestModel.MediaSelectorSearchQuery

<link href="~/Content/mrcms/Styles/jquery.mrcms-mediaselector.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/featherlight.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/jquery.tagit.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/jquery-ui-bootstrap/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/Content/mrcms/Scripts/lib/jstree/themes/default/style.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/dropzone.css" rel="stylesheet" />
<link href="~/Content/mrcms/Styles/mrcms-admin.css" rel="stylesheet" />

<div class="modal-body" data-type="media-selector-popup" style="min-height: 250px;width: 99% !important;height: 99% !important; overflow:auto">
    <div class="row">
        @using (Html.BeginForm("Show", "MediaSelector", FormMethod.Get, new { id = "search-form", @class = "form-inline" }))
        {
            <fieldset>
                <div class="form-group" style="padding-left: 15px;">
                    <div class="row" style="padding-left: 15px;">
                        <h2>Lựa chọn hình ảnh</h2>
                    </div>

                    <div class="row" style="padding-left: 15px;">
                        <div class="form-group">
                            @Html.TextBoxFor(query => query.Query, new { @class = "form-control", @placeholder = "Tìm kiếm ảnh" })
                        </div>
                        <input type="submit" class="btn btn-primary" value="Tìm kiếm" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div id="results">
        <div id="fileupload" data-message="Click vào đây hoặc kéo thả để tải ảnh lên" class="dropzone margin-bottom-10 margin-top-10"></div>
        <input type="hidden" value="@Url.Action("Files", "File", new { Id = (Model.Id ?? null) })" id="action-url" />

        <div id="progress" class="progress" style="height: 30px; display: none; margin-bottom: 5px;">
            <div class="bar"><span id="percent-complete" style="text-align: center;"></span></div>
        </div>
        <div id="files" class=""></div>

        <input type="hidden" id="allowedFileTypes" value=".gif,.jpeg,.jpg,.png,.svg,.tif,.tiff,.bmp" />
        <input type="hidden" id="maxFileSizeUpload" value="10000000" />

        @if (Model.data.Count > 0)
        {
            <div class="row" style="padding-left:15px;padding-bottom: 15px;">
                @foreach (var file in Model.data)
                {
                    Html.RenderPartial("FileResult", file);
                }
            </div>
            <div class="clearfix"></div>
        }
        else
        {
            <p>Không có ảnh nào ở đây - bạn hãy thử upload 1 ảnh!</p>
        }
    </div>
</div>
