﻿@using NetMVCBuilder.Enum;
@model NetMVCBuilder.Models.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Title Page-->
    <title>Đăng nhập</title>
    <!-- Icons font CSS-->
    <link href="~/assets/login/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/assets/login/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- ~/assets/login/vendor CSS-->
    <link href="~/assets/login/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/login/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/assets/login/css/main.css" rel="stylesheet" media="all">
</head>

<body>

    <style>
        .input-group {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        html #recaptcha_area, html #recaptcha_table {
            width: 328px !important;
        }

        .g-recaptcha {
            transform: scale(1.08);
            transform-origin: 0;
            -webkit-transform: scale(1.08);
            transform: scale(1.08);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            margin: 10px 0;
            margin-bottom: 15px;
        }
    </style>

    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class=""></div>
                <div class="card-body">
                    <h2 class="title">Đăng nhập</h2>
                    <form action="/Account/Login" method="post">
                        @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl as string)
                        <fieldset>
                            <div class="input-group">
                                @Html.TextBoxFor(a => a.UserName, new Dictionary<string, object>
                                {
                                    {"class", "input--style-2"},
                                    {"placeholder", "Tài khoản"},
                                    {"autocomplete", "username"},
                                    {"name", "UserName" },
                                })
                            </div>
                            <div style="margin-top: 10px; color: red; font-style: italic;">
                                @Html.ValidationMessageFor(a => a.UserName)
                            </div>
                            <div class="input-group">
                                <input class="input--style-2" type="password" placeholder="Mật khẩu" name="PassWord">
                            </div>
                            <div style="margin-top: 10px; color: red; font-style: italic;">
                                @Html.ValidationMessageFor(a => a.Password)
                            </div>
                            @Html.HiddenFor(a => a.FailedLogins)
                            @if (Model.FailedLogins > Constant.MaxUserLoginFailesWithoutCapcha)
                            {

                                <div class="form-inline">
                                    <img alt="Captcha" src="" style="" id="img_captcha" />
                                    <a id="btnReload">
                                        <i class="fa fa-refresh" style="font-size: 24px; vertical-align: middle"></i>
                                    </a>
                                    @Html.TextBoxFor(m => m.Captcha, new { @class = "input-group input--style-2", autocomplete = "off", style = "width:50%;margin-left:15px" })
                                </div>
                            }
                            <div class="p-t-30 text-center">
                                <button class="btn btn--radius btn--green" type="submit">Đăng nhập</button>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "color: red; font-style: italic; margin-top: 10px;" })
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/assets/login/vendor/jquery/jquery.min.js"></script>
    <!-- ~/assets/login/vendor JS-->
    <script src="~/assets/login/vendor/select2/select2.min.js"></script>
    <script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
    <script src="~/assets/login/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/assets/login/js/global.js"></script>

    <script>
        //document.getElementById("UserName").focus();
        var captchaImageUrl = "@Url.Action("CaptchaImage", "Account")";
        $(function() {
            $.ajax({
                method: 'GET',
                url: window.captchaImageUrl,
                data: {prefix: "UserCaptcha"},
                success: function(rs) {
                    $("#img_captcha").attr("src", rs);
                }
            });
        });
        $("#btnReload").on("click", function() {
            $.ajax({
                method: 'GET',
                url: window.captchaImageUrl,
                data: {prefix: "UserCaptcha"},
                success: function(rs) {
                    $("#img_captcha").attr("src", rs);
                }
            });
        });
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->