﻿@model NetMVCBuilder.Models.InfoModel.UserInfo

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Title Page-->
    <title>Đăng ký</title>
    <!-- Icons font CSS-->
    <link href="~/assets/login/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/assets/login/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- ~/assets/login/vendor CSS-->
    <link href="~/assets/login/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/login/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/assets/login/css/main.css" rel="stylesheet" media="all">
</head>

<body>

    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class=""></div>
                <div class="card-body">
                    <h2 class="title">Đăng ký người dùng</h2>
                    <form action="/Account/SignUp" method="post" id="formSignUp">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "color: red; font-style: italic; margin-bottom: 10px;" })

                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Họ tên" name="FullName" id="FullName">
                        </div>
                        <div style="margin-bottom: 20px; color: red; font-style: italic;" id="notiFullName">
                            @Html.ValidationMessageFor(a => a.FullName)
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Tài khoản" name="UserName" id="UserName">
                        </div>
                        <div style="margin-bottom: 20px; color: red; font-style: italic;" id="notiUserName">
                            @Html.ValidationMessageFor(a => a.UserName)
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="password" placeholder="Mật khẩu" name="PassWord" id="PassWord">
                        </div>
                        <div style="margin-bottom: 20px; color: red; font-style: italic;" id="notiPassWord">
                            @Html.ValidationMessageFor(a => a.PassWord)
                        </div>

                        <div class="p-t-30 text-center">
                            <button class="btn btn--radius btn--green" type="submit" onclick="AddOrUpdate()">Đăng ký</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/assets/login/vendor/jquery/jquery.min.js"></script>
    <!-- ~/assets/login/vendor JS-->
    <script src="~/assets/login/vendor/select2/select2.min.js"></script>
    <script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
    <script src="~/assets/login/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/assets/login/js/global.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<!-- end document-->
<script src="~/Scripts/validate/jquery.validate.js"></script>
<script src="~/assets/vendor/jquery/sweetalert.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("form#formSignUp").submit(function () {
            return false;
        });

        $("input#UserName").on({
            keydown: function (e) {
                if (e.which === 32)
                    return false;
            },
            change: function () {
                this.value = this.value.replace(/:}\s/g, "");
            }
        });
    });

    function AddOrUpdate() {
        $('#notiFullName').empty();
        $('#notiUserName').empty();
        $('#notiPassWord').empty();

        var fulname = $('#FullName').val().trim();
        var username = $('#UserName').val().trim();
        var password = $('#PassWord').val().trim();

        if (fulname == null || fulname == "" || fulname == ' ') {
            $('#notiFullName').html('Họ tên không được để trống')
            return false;
        }
        if (username == null || username == "" || username == ' ') {
            $('#notiUserName').html('Tài khoản không được để trống')
            return false;
        }
        if (password == null || password == "" || password == ' ') {
            $('#notiPassWord').html('Mật khẩu không được để trống')
            return false;
        }

        var data = {
            Id: 0,
            FullName: $('#FullName').val().trim(),
            UserName: $('#UserName').val().trim(),
            PassWord: $('#PassWord').val().trim(),
        };

        var url = '/Account/SignUp';

        $.ajax({
            url: "/Account/CheckDuplicatedUserName/",
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            data: `{'UserName':'${data.UserName}', 'id':'${data.Id}'}`,
            success: function (result) {
                if (result == true) {
                    $.post(url, data,
                        function (rs) {
                            setTimeout(function () {
                                toastr.success('Tạo tài khoản thành công');
                            }, 3000);
                            window.location.href = '/Account/login';
                        });
                }
                else {
                    $('#notiUserName').html('Tài khoản đã bị trùng')
                    return false;
                }
            }
        });
    }
</script>