﻿/*body {
    background: #ebebeb;
}

.pix_section {
    background: white;
}*/

.form-round-lg input.form-control {
    border-radius: 30px;
}

.pix-padding-v-content {
    padding-top: 143px;
    padding-bottom: 23px;
}

.card.card-custom {
    -webkit-box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 5%);
    border: 0;
    background: white;
    border-radius: 10px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #EBEDF3;
    border-radius: 0.42rem;
}

    .card.card-custom > .card-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }

.card-header:first-child {
    border-radius: calc(0.42rem - 1px) calc(0.42rem - 1px) 0 0;
}

.card-header {
    padding: 2rem 2.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #EBEDF3;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2.25rem;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.42rem - 1px) calc(0.42rem - 1px);
}

.card-footer {
    padding: 2rem 2.25rem;
    background-color: #ffffff;
    border-top: 1px solid #EBEDF3;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.blockUI.blockOverlay {
    z-index: 10000 !important;
    background-color: rgb(255 255 255) !important;
    opacity: 1 !important;
}

.blockUI.blockMsg.blockPage {
    z-index: 10001 !important;
}

hr {
    margin: 10px 0px;
}

.news-color {
    color: #AFAFAF;
}

    .news-color:hover {
        text-decoration: underline;
    }

.title-news:hover {
    color: #db261b;
}


.news-descript {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .news-descript {
        -webkit-line-clamp: 2;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 36px;
    height: 36px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 30px;
        height: 30px;
        margin: 8px;
        border-radius: 50%;
        border: 3px solid #1964B9;
        border-color: #1964B9 transparent #1964B9 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

.footer-container {
    background: #fff;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
