﻿@model NetMVCBuilder.Models.InfoModel.ContactInfo
@{
    ViewBag.Title = "Cập nhật liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>Chỉnh sửa liên hệ của bạn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/Account/Logout"> <i class="fa fa-sign-out-alt"></i> Đăng xuất</a></li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.HiddenFor(m => m.Id, new { @class = "form-control", @id = "Id" })
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tên công ty <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.CompanyName, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "CompanyName"},
                                                                    {"maxlength", "200"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tóm tắt công ty </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.CompanySummary, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "CompanySummary"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Giấy CNĐKDN </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.BusinessRegistrationCertificate, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "BusinessRegistrationCertificate"},
                                                                    {"maxlength", "20"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Ngày đăng ký </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.CertificateDate, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "CertificateDate"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Địa chỉ <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextAreaFor(m => m.Address, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "Address"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Email <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "Email"},
                                                                    {"maxlength", "100"},
                                                                    {"type", "email"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Số điện thoại <span style="color:red">*</span></label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PhoneNumber, new Dictionary<string, object>
                                                                                {
                                                                    { "required","required"},
                                                                    {"class", " form-control"},
                                                                    {"id", "PhoneNumber"},
                                                                    {"maxlength", "20"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tiktok </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.TiktokAddress, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "TiktokAddress"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Youtube </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.YouTubeAddress, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "YouTubeAddress"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Facebook </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.FacebookAddress, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "FacebookAddress"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Messenger </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.MessengerAddress, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "MessengerAddress"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Zalo </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ZaloAddress, new Dictionary<string, object>
                                                                                {
                                                                    {"class", " form-control"},
                                                                    {"id", "ZaloAddress"},
                                                                    {"maxlength", "500"},
                                                                })
                    </div>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="AddOrUpdate()" class="btn btn-primary" id="btnLuu" style="width: 10%">Lưu</button>
                <a type="button" class="btn btn-success" href="/Home/Index" style="width: 10%">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });
    });

    function AddOrUpdate() {
        var data = {
            Id: $('#Id').val() * 1,
            CompanyName: $('#CompanyName').val(),
            BusinessRegistrationCertificate: $('#BusinessRegistrationCertificate').val(),
            CertificateDate: $('#CertificateDate').val().trim(),
            Address: $('#Address').val(),
            Email: $('#Email').val(),
            TiktokAddress: $('#TiktokAddress').val(),
            YouTubeAddress: $('#YouTubeAddress').val(),
            FacebookAddress: $('#FacebookAddress').val(),
            MessengerAddress: $('#MessengerAddress').val(),
            CompanySummary: $('#CompanySummary').val(),
            ZaloAddress: $('#ZaloAddress').val(),
            PhoneNumber: $('#PhoneNumber').val(),
        };

        var title = "Bạn có đồng ý cập nhật không?";
        var url = '/Contact/Edit';

        if ($("form#edit").valid()) {
            swal({
                title: title,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Contact/Edit'
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }
</script>