﻿@using NetMVCBuilder.Common
@using NetMVCBuilder.Models.EntityModel
@using NetMVCBuilder.Models.InfoModel
@using System.Threading

@{
    var user = (User)Session[CommonConstants.USER_SESSION];
    var per = (AccountModulPageInfo)Session[CommonConstants.PAGE_MODUL_SESSION];
    var userId = user.id;
    ViewBag.Title = "Quản lý Shop Giày";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/Logo/test.png" rel="icon">
    <link href="~/assets/Logo/test1.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    @*<link href="~/assets/css/googleapis.com.css" rel="stylesheet" />*@
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">*@

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/font/css/all.css" rel="stylesheet" />
    <link href="~/Scripts/jsSweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsSelect2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsSelect2/css/select2-bootstrap.css" rel="stylesheet" />


    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/NetMVCBuilder/index.min.css" rel="stylesheet" />

</head>

<body>
    <style>
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 100%;
            min-width: 100%;
        }

        html {
            height: 100%;
            box-sizing: border-box;
        }

        body {
            position: relative;
            margin: 0;
            padding-bottom: 6rem;
            min-height: 100%;
            font-family: "Helvetica Neue", Arial, sans-serif;
        }

        .footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #efefef;
            text-align: center;
        }

        .pb-4, .py-4 {
            padding-bottom: 5px !important;
        }

        #header .logo img {
            max-height: 45px;
        }

        .toast-message {
            font-size: 14px !important;
        }

        .align-items-center {
            padding: 0px 40px 0px 35px !important;
        }
    </style>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            @*<h1 class="logo mr-auto"><a href="index.html"><span style="color: red">NHÀ IN BÁO NHÂN DÂN</span></a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo mr-auto"><img src="~/assets/img/xp logo.png" alt="" class="img-fluid"></a>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li @*class="active"*@><a href="/">Trang chủ</a></li>

                    @foreach (var item in per.ListModul)
                    {
                        <li class="drop-down @item.ModulName">
                            <a href="">@item.ModulName</a>
                            <ul>
                                @foreach (var page in per.ListPage)
                                {
                                    if (page.ModulId == item.id)
                                    {
                                        <li><a href="@page.Url">@page.PageName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }

                    <li class="drop-down">
                        <a href="">Tài khoản</a>
                        <ul>
                            <li><a href="/User/EditUserInfo">Thông tin cá nhân</a></li>
                            <li><a href="/User/ChangePassword">Đổi mật khẩu</a></li>
                            <li><a href="/Account/Logout">Đăng xuất &nbsp;<i class="fa fa-arrow-circle-o-right"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>


            <div class="header-social-links">
                <a href="https://facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://facebook.com/" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <main id="main" class="main">
        <!--Body Section-->
        <section id="body">
            <div class="container" data-aos="fade-up">
                <div class="setHeight">
                    @RenderBody()
                </div>

            </div>
        </section>
        <!--End Body Section-->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer class="footer" id="footer">
        <div class="container d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; @DateTime.Now.Year Copyright <strong><span>SR TEAM</span></strong>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="https://facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.linkedin.com/" class="youtube"><i class="bx bxl-youtube"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/Scripts/jquerys-3.5.1.js"></script>*@

    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/font/js/all.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/assets/js/main.js"></script>
    @*<script src="~/Scripts/jsSweetalert/sweetalert2.min.js"></script>*@
    <script src="~/assets/vendor/jquery/sweetalert.min.js"></script>

    <!--Select2-->
    <script src="~/Scripts/select2-version1/select2.min.js"></script>
    <link href="~/Scripts/jsSelect2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsSelect2/css/select2.min.css" rel="stylesheet" />

    <!--Autocomeplete-->
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Scripts/autocomeplete/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/popper.js"></script>*@

    <script src="~/Scripts/lib/featherlight.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/cultures/globalize.culture.@(Thread.CurrentThread.CurrentCulture.Name).js"></script>

    @Html.Hidden("CurrentUICulture", Thread.CurrentThread.CurrentCulture.Name)
    @RenderSection("scripts", false)

</body>
</html>

<div id="modal_details_MessageContact" class="modal fade" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Chi tiết tin nhắn</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-form-label">Họ tên</label>
                    </div>
                    <div class="col-8">
                        <label class="col-form-label" id="modal_Name"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-form-label">Email</label>
                    </div>
                    <div class="col-8">
                        <label class="col-form-label" id="modal_Email"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-form-label">Ngày gửi</label>
                    </div>
                    <div class="col-8">
                        <label class="col-form-label" id="modal_CreateDate"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label class="col-form-label">Nội dung</label>
                    </div>
                    <div class="col-8">
                        <label class="col-form-label" id="modal_Message"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" title="Đóng">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        ///////////Chặn bật deverloop toll///////////////
        //window.oncontextmenu = function () {
        //    return false;
        //}
        //document.onkeydown = function (e) {
        //    if (window.event.keyCode == 123 || e.button == 2)
        //        return false;
        //}
        //////////////////////////////////////////////////

        var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);

        if (pgurl == 'Material') {

        }


    });

</script>