﻿<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependencies -->
    <link rel="stylesheet" type="text/css" href="~/Content/megapack/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/megapack/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/megapack/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/megapack/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/megapack/css/font-style.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Scripts/jsSweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="~/assets/css/HomeStyle.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/assets/img/xp fav.png" />

    <style>
        @@media screen and (max-width: 768px) {
            .pix_nav_menu.pix-over-header {
                background: #fff !important;
            }
        }
    </style>

    <style>
        #search-bar {
            display: none;
            text-align: center;
        }

        #search-button, #cancle-button {
            transition: all 0.2s ease-in;
            border: none;
            background-color: transparent;
            outline: none;
            padding: 7px 10px !important;
            border-radius: 50%;
        }

            #search-button:hover, #cancle-button:hover {
                background-color: #eee;
            }
    </style>
    <style>
    </style>
    <style type="text/css">
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }

        .loading {
            font-family: Arial;
            font-size: 10pt;
            border: 5px solid #67CFF5;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }
    </style>

    <style>
        .wrapper-search-input {
            position: relative;
            display: inline-block;
            width: 210px;
        }

            .wrapper-search-input input {
                font-family: 'Montserrat', sans-serif;
                background-color: transparent;
                border: none;
                outline: none;
                width: 100%;
                font-size: 1em;
                box-sizing: border-box;
                padding-bottom: 5px;
                border-bottom: 2px solid #797979;
            }

                .wrapper-search-input input:focus + .underline {
                    width: 100%;
                }

            .wrapper-search-input .underline {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                background-color: dodgerblue;
                transition: 0.5s;
            }

        .navbar-header {
            width: 160px;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        @@media (max-width: 767px) {
            .navbar-header {
                width: 100% !important;
            }
        }
    </style>

    <style>
        .inbox-icons {
            display: flex;
            position: fixed;
            bottom: 20px;
            right: 20px;
            flex-direction: column;
            z-index: 99;
        }

        .inbox-icon {
            display: inline-block;
        }

            .inbox-icon img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                margin-bottom: 10px;
                background-color: white;
            }

                .inbox-icon img:hover {
                    cursor: pointer;
                }
    </style>
    <script src="~/Content/megapack/js/jquery-1.11.2.js"></script>
    <script src="~/Content/megapack/js/jquery-ui.js"></script>
    <script src="~/Content/megapack/js/bootstrap.js"></script>
    <script src="~/Content/megapack/js/velocity.min.js"></script>
    <script src="~/Content/megapack/js/velocity.ui.min.js"></script>
    <script src="~/Content/megapack/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/megapack/js/custom.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <div class="pix_section pix_nav_menu pix_scroll_header normal pix-over-header pix-padding-v-30" data-scroll-bg="#fff">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12  pix-inner-col column ui-droppable">
                        <div class="pix-content">
                            <nav class="navbar navbar-default pix-no-margin-bottom pix-navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pix-navbar-collapse" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="/" class="navbar-brand logo-img logo-img-a pix-adjust-height"><img src="~/assets/img/xp logo.png" alt="" class="img-responsive pix-logo-img"></a>
                                    </div>
                                    <div class="collapse navbar-collapse" id="pix-navbar-collapse">
                                        <ul class="nav navbar-nav navbar-right media-middle pix-header-nav pix-adjust-height" id="pix-header-nav">
                                            <li class="dropdown nav-menu-item">
                                                <a href="@Url.Action("Index", "Home")" class="pix-black-gray-light">TRANG CHỦ</a>
                                            </li>
                                            <li class="dropdown nav-menu-item">
                                                <a class="dropdown-toggle pix-black-gray-light" data-toggle="dropdown" style="cursor: pointer">
                                                    SẢN PHẨM
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-left" id="lstProductCategory">
                                                </ul>
                                            </li>
                                            <li class="dropdown nav-menu-item">
                                                <a href="/Home/NewsArticleIndex" class="pix-black-gray-light">TIN TỨC</a>
                                            </li>
                                            <li class="dropdown nav-menu-item" style="cursor: pointer">
                                                <a class="small-social" onclick="showSearchBar()">
                                                    <i class="pixicon-search big-icon-50 pix-black-gray-light"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown" id="search-bar">

                                                <div class="wrapper-search-input">
                                                    <input id="search-input" type="text" placeholder="Tìm kiếm sản phẩm" spellcheck="false">
                                                    <span class="underline"></span>
                                                </div>

                                                <div style="display: inline-block">
                                                    <button id="search-button" title="Tìm kiếm">
                                                        <i class="pixicon-search pix-black-gray-light" style="font-size: 25px"></i>
                                                    </button>
                                                    <button id="cancle-button" title="Hủy">
                                                        <i class="pixicon-close pix-black-gray-light" style="font-size: 25px"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @RenderBody()

    <div class="footer-container gray-2-bg" style="padding: 20px !important">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="pix-content pix-padding-top-20">
                        <a href="/"><img src="~/assets/img/xp logo.png" alt="" class="img-responsive"></a>
                        <div class="clearfix"></div>
                        <div class="pix-padding-v-20">
                            <p class="pix-black-gray-light big-text text-uppercase" id="footer_CompanyName">
                            </p>
                            <p class="pix-black-gray-light small-text">
                                <span id="footer_BusinessRegistrationCertificate"></span>
                            </p>
                            <p class="pix-black-gray-light small-text" id="footer_CertificateDate">
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 col-xs-12 col-sm-4 column ui-droppable">
                    <div class="pix-content">
                        <h5 class="pix-black-gray-dark">
                            <span class="pix_edit_text"><strong>Thông tin liên hệ</strong></span>
                        </h5>
                        <div class="pix-padding-v-10">
                            <span class="pix-black-gray-light big-text">Địa chỉ: <span class="pix_edit_text" id="footer_Address">thửa đất số 415, xã Vũ Lạc, Thành phố Thái Bình, Tỉnh Thái Bình, Việt Nam</span></span>
                        </div>
                        <div class="pix-padding-v-10">
                            <span class="pix-black-gray-light big-text"><span class="pix_edit_text" id="footer_Email">megapack@gmail.com</span></span>
                        </div>
                        <div class="pix-padding-v-10">
                            <span class="pix-black-gray-light big-text"><span class="pix_edit_text" id="footer_PhoneNumber">0123 456 789</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 col-xs-12 col-sm-3 column ui-droppable">
                    <div class="pix-content">
                        <h5 class="pix-black-gray-dark">
                            <span class="pix_edit_text"><strong>Theo dõi tại</strong></span>
                        </h5>
                        <div class="pix-padding-bottom-15">
                            <a href="" class="pix-link-icon" id="footer_linkFacebook">
                                <img src="~/assets/img/facebook.png" style="width: 36px; height: 36px;" />
                            </a>
                            <a href="#" class="pix-link-icon" id="footer_linkTiktok">
                                <img src="~/assets/img/tiktok.png" style="width: 36px; height: 36px;" />
                            </a>
                            <a href="#" class="pix-link-icon" id="footer_linkYoutube">
                                <img src="~/assets/img/youtube.png" style="width: 36px; height: 36px;" />
                            </a>
                        </div>
                        <div>
                            <div class="fb-page"
                                 data-href="https://www.facebook.com/facebook"
                                 data-width="380"
                                 data-hide-cover="false"
                                 data-show-facepile="false"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center" style="padding: 10px 0px 15px 0px; background-color: white;">
        <span class="pix-gray big-text pix_edit_text">
            giayxp.com Copyright © 2022 All Rights Reserved <br />
            <a style="font-size:12px;color:#999;" href="#" onclick="window.open('tel:0325712929');">
                Giải pháp website của bạn - <i class="fa fa-phone-alt"></i> 0325712929
            </a>
        </span>
    </div>

    <div class="inbox-icons">
        <div class="inbox-icon">
            <a href="https://m.me/metavietnam" id="linkZalo">
                <img src="~/assets/img/zalo.png" title="Zalo" />
            </a>
        </div>
        <div class="inbox-icon">
            <a href="https://m.me/metavietnam" id="linkMessage">
                <img src="~/assets/img/messenger.png" title="Messenger" />
            </a>
        </div>
    </div>

    <!-- Javascript -->
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/assets/vendor/jquery/sweetalert.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0" nonce="C6b9NVPF"></script>

    <script>

        //$.blockUI({
        //    message: '<span class="b-img-blockui"><img src="/assets/img/loader.gif" style="width: 100%;" /></span>',
        //    css: {
        //        border: 'none',
        //        padding: '15px',
        //        backgroundColor: 'transparent',
        //        '-webkit-border-radius': '10px',
        //        '-moz-border-radius': '10px',
        //        opacity: .5,
        //        color: '#fff',
        //    }
        //});

        $.ajax({
            url: '/Home/GetInfoHomeLayout',
            type: "GET",
            success: function (rs) {
                if (rs != null && rs != undefined && rs != '') {
                    var lstSelect = rs.lstSelect || [];
                    var html = `<li>
                                                                            <a href="/ListProducts" class="null" data-toggle="null">Tất cả sản phẩm</a>
                                                                        </li>`;
                    for (var i = 0; i < lstSelect.length; i++) {
                        html += `<li>
                                                                             <a href="/ListProducts/Index?categoryId=${lstSelect[i].Value}" class="null" data-toggle="null">${lstSelect[i].Text}</a>
                                                                         </li>`;
                    }
                    $('#lstProductCategory').html(html);

                    //load thông tin liên hệ phần footer
                    var contactInfo = rs.contactInfo;
                    $('#footer_CompanyName').text(contactInfo.CompanyName);
                    if (!contactInfo.BusinessRegistrationCertificate);

                    $('#footer_BusinessRegistrationCertificate').text("Giấy CNĐKDN: " + contactInfo.BusinessRegistrationCertificate);
                    $('#footer_CertificateDate').text(contactInfo.CertificateDate);
                    $('#footer_Address').text(contactInfo.Address);
                    $('#footer_Email').text(contactInfo.Email);
                    $('#footer_PhoneNumber').text(contactInfo.PhoneNumber);
                    $('#footer_linkFacebook').attr('href', contactInfo.FacebookAddress);
                    $('#footer_linkTiktok').attr('href', contactInfo.TiktokAddress);
                    $('#footer_linkYoutube').attr('href', contactInfo.YouTubeAddress);
                    $('#linkZalo').attr('href', contactInfo.ZaloAddress);
                    $('#companyName').text(contactInfo.CompanyName);
                    $('#companySummary').text(contactInfo.CompanySummary);

                } else {
                    toastr.error('Có lỗi xảy ra!');
                }
            },
            complete: function () {
                $.unblockUI();
            },
        });
    </script>

    <script>
        const inputSearch = document.getElementById("search-input");
        const buttonSearch = document.getElementById("search-button");
        const buttonCancle = document.getElementById("cancle-button");
        inputSearch.value = "@Request.QueryString["KeySearch"]";
        function searchProducts() {
            if (inputSearch.value) window.location.href = "@Url.Action("Index","ListProducts", new { page = 1, pageSize = 12 })" + "&KeySearch=" + inputSearch.value;
            else window.location.href = "@Url.Action("Index","ListProducts", new { page = 1, pageSize = 12 })";
        }

        inputSearch.addEventListener("keyup", function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                searchProducts();
            }
        });

        buttonSearch.addEventListener("click", function () {
            searchProducts();
        })

        buttonCancle.addEventListener("click", function () {
            $(".nav-menu-item").show();
            $("#search-bar").hide();
        })

    </script>

    <script>

        function showSearchBar() {
            $(".nav-menu-item").hide();
            $("#search-bar").show();
            $("#search-bar input").focus();
        }
    </script>
</body>


</html>

