﻿@model NetMVCBuilder.Models.RequestModel.ChangePasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>Đổi mật khẩu của bạn</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/Account/Logout"> <i class="fa fa-sign-out-alt"></i> Đăng xuất</a></li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mật khẩu cũ: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.OldPassWord, new { @class = "form-control", @id = "OldPassWord", @type = "password", @maxlength = "50" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.OldPassWord)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mật khẩu: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.NewPassWord, new { @class = "form-control", @id = "NewPassWord", @type = "password", @maxlength = "50"})
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.NewPassWord)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Nhập lại: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ConfirmPassWord, new { @class = "form-control", @id = "ConfirmPassWord", @type = "password", @maxlength = "50" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ConfirmPassWord)
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="AddOrUpdate()" class="btn btn-primary" id="btnLuu" style="width: 10%">Lưu</button>
                <a type="button" class="btn btn-success" href="/Home/Index" style="width: 10%">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });
    });

    function AddOrUpdate() {
        var data = {
            OldPassWord: $('#OldPassWord').val(),
            NewPassWord: $('#NewPassWord').val(),
            ConfirmPassWord: $('#ConfirmPassWord').val(),
        };

        var title = "Bạn có đồng ý cập nhật không?";
        var url = '/User/ChangePassword';

        if ($("form#edit").valid()) {
            swal({
                title: title,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Home'
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }


</script>

@*<script>
        $("#BirthDay")({ dateFormat: 'dd/MM/yyyy'});

        $("#BirthDay").datepicker({ dateFormat: 'yyyy/MM/dd'});

        $(function () {
            $("#BirthDay").datepicker({
                    dateFormat: 'yyyy/MM/dd' })
        });
    </script>*@