﻿@using NetMVCBuilder.Common
@using NetMVCBuilder.Models.EntityModel
@model NetMVCBuilder.Models.RequestModel.UserRequestModel
@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)Session[CommonConstants.USER_SESSION];
}

<head>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tìm kiếm thông tin</h2>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Index", "User")" id="search-form" method="get">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <label class="lbl">Từ khóa: </label>
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <input type="text" name="KeySearch" placeholder="Nhập tên hoặc mã nhân viên" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <button id="btnSearch" class="btn btn-sm btn-primary filter-submit" type="submit">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Quản lý nhân viên</h2>
                    </div>
                    @if (ViewBag.hasAddPermission)
                    {
                        <div class="col-sm-6">
                            <a href="/User/Add" class="btn btn-success" style="padding: 10px 30px 10px 30px; border-radius: 5px"><i class="fa fa-plus"></i> Thêm mới</a>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên nhân viên</th>
                        <th class="text-center">Tên đăng nhập</th>
                        <th class="text-center">Chức vụ</th>
                        <th class="text-center">Ngày cập nhật</th>
                        <th class="text-center" style="width:200px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                    }
                    @foreach (var item in Model.data)
                    {
                        count++;
                    <tr>
                        <td class="text-center">@count</td>
                        <td class="text-left">@item.FullName</td>
                        <td class="text-center">@item.UserName</td>
                        <td class="text-center">
                            @if (item.UserGroupId == 1)
                            {
                                <div>Nhân viên Nhập liệu</div>
                            }
                            else
                            {
                                <div>Nhân viên Quản lý</div>
                            }
                        </td>
                        <td class="text-center">@item.ModifyDate</td>
                        <td class="text-center">
                            @if (ViewBag.hasViewPermission)
                            {
                                <a href="/User/Details/@item.id" class="details-link" style="margin-right: 5px;"><i class="fa fa-eye" title="Xem"></i></a>
                            }
                            @if (ViewBag.hasUpdatePermission)
                            {
                                <a href="/User/Edit/@item.id" class="edit" style="margin-right: 5px;"><i class="fa fa-edit" title="Sửa"></i></a>
                            }
                            @if (ViewBag.hasDeletePermission)
                            {
                                <a onclick="Delete(@item.id)" class="delete" style="margin-right: 5px; cursor: pointer"><i class="fa fa-trash" title="Xóa"></i></a>
                                <a onclick="Reset(@item.id)" class="delete" style="margin-right: 5px; cursor: pointer"><i class="fa fa-undo" title="Reset mật khẩu"></i></a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <!--Paging-->
            <div class="row paging">
                <div class="col-md-3" style="text-align: left; margin-top: 8px; padding: 0px;">
                    <label>Có tất cả @Model.totalRecord kết quả</label>
                </div>
                <div class="col-md-9" style="padding: 0px;">
                    <ul class="pagination">
                        @{
                            int position;
                            if (Model.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "User", new { page = Model.page-1, pageSize = Model.pageSize, KeySearch = Model.Keywords})" tabindex="-1"> << </a>
                                </li>
                            }

                            for (position = 1; position <= Model.totalPage; position++)
                            {

                                if (position == Model.page)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "User", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "User", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                            }
                            if (Model.page > 0 && Model.page < Model.totalPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "User", new { page = Model.page+1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> >> </a>
                                </li>
                            }

                            if (Model.totalPage == 0)
                            {
                                <li>
                                    <div role="status" aria-live="polite">Không có dữ liệu hiển thị</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    function Delete(Id) {
        var data = {
            Id: Id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/User/Delete/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/User';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
    function Reset(Id) {
        var data = {
            Id: Id,
        };
        var title = "Bạn có đồng ý reset mật khẩu tài khoản này không?";
        var url = '/User/ResetPassword/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Reset thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!\n" + rs.message,
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/User';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }
</script>