﻿
@{
    ViewBag.Title = "Error";
}

<title>Error</title>

<style>
    .page_404 {
        padding: 40px 0;
        background: #fff;
        font-family: 'Arvo', serif;
        text-align: center !important;
    }

        .page_404 img {
            width: 100%;
        }

    .four_zero_four_bg {
        background-position: center;
    }


    .four_zero_four_bg h1 {
        font-size: 80px;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
        border-radius: 20px;
    }

    .contant_box_404 {
        margin-top: -50px;
    }

</style>

<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center" style="color:red;">500</h1>

                    </div>

                    <div class="contant_box_404">
                        <h3 class="h2">
                            Oops!!!
                        </h3>
                        <p>Đã có lỗi xảy ra!</p>

                        <a href="/Home" class="link_404">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
