﻿@model NetMVCBuilder.Models.EntityModel.Product

@{
    ViewBag.Title = "Xem chi tiết sản phẩm";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<style>
    body {
        background: #ebebeb;
    }

    .pix_section {
        background: white;
    }
</style>

<div class="pix-padding-v-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Chi tiết sản phẩm</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <h4 class="text-primary m-0">DÉP SANDAL PHONG CÁCH HÀN QUỐC TC22</h4>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <span class="col-form-label">Thương hiệu: </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="col-form-label">ThanhPhatShoes</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="col-form-label">Mã SP: </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="col-form-label">TC22</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <h5 class="font-weight-bold m-0">Dép sandal trẻ em TC22</h5>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="m-0">
                                            <li>Đế cao su cao cấp siêu mềm, siêu nhẹ, siêu êm..</li>
                                            <li>Fom dép chắc chắn, đi ôm chân và chắc chân.</li>
                                            <li>Đường may đẹp tỉ mỉ, kiểu dáng thời trang.</li>
                                            <li>Xuất xứ: Việt Nam</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <span class="col-form-label">Màu sắc: </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="col-form-label">Đen</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="col-form-label">Kích thước: </span>
                                    </div>
                                    <div class="col-md-8">
                                        <span class="col-form-label">28 – 37</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Hotline hỗ trợ: 0227.3544.289 (07:30-17:00)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <h5>Mô tả chi tiết</h5>
                                    <hr />
                                    Đây là description
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="reset" class="btn btn-primary mr-2">Submit</button>
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
