﻿@model NetMVCBuilder.Models.RequestModel.ProductRequestModel

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="pix_section pix-padding-v-30" id="section_sliders_1" style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 column ui-droppable">
                <div class="pix-content">
                    <div id="myCarousel" class="carousel slide pix-slider" data-ride="carousel" data-interval="3000">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner item-450">
                            <div class="item active">
                                <img src="~/assets/img/carousel-1.jpg" alt="Chania">
                                @*<div class="carousel-caption">
                                        <h2 class="carousel-title primary-font">Giày Thành Phát</h2>
                                        <h5 class="carousel-text secondary-font">Nhà sản xuất giày uy tín hàng đầu miền bắc</h5>
                                        <div class="pix-slider-btn pix-padding-top-15">
                                            <a href="/ListProducts" class="btn orange-bg btn-lg pix-white pix-margin-right-5 small-text secondary-font pix-margin-right-20">
                                                <span class="pix_edit_text">
                                                    <strong>Tất cả sản phẩm</strong>
                                                </span>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="item">
                                <img src="~/assets/img/carousel-2.jpg" alt="Chicago">
                                @*<div class="carousel-caption">
                                        <h2 class="carousel-title secondary-font">&nbsp;</h2>
                                        <h5 class="carousel-text secondary-font">&nbsp;</h5>
                                        <div class="pix-slider-btn pix-padding-top-15">
                                            <a href="/ListProducts" class="btn orange-bg btn-lg pix-white pix-margin-right-5 small-text secondary-font pix-margin-right-20">
                                                <span class="pix_edit_text">
                                                    <strong>Tất cả sản phẩm</strong>
                                                </span>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="item">
                                <img src="~/assets/img/carousel-3.jpg" alt="New York">
                                @*<div class="carousel-caption">
                                        <h2 class="carousel-title secondary-font">&nbsp;</h2>
                                        <h5 class="carousel-text secondary-font">&nbsp;</h5>
                                        <div class="pix-slider-btn pix-padding-top-15">
                                            <a href="/ListProducts" class="btn orange-bg btn-lg pix-white pix-margin-right-5 small-text secondary-font pix-margin-right-20">
                                                <span class="pix_edit_text">
                                                    <strong>Tất cả sản phẩm</strong>
                                                </span>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pix_section pix-padding-v-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="pix-content pix-padding-v-30 text-center">
                    <h3 class="pix-black-gray-dark pix-no-margin-top">
                        <span class="pix_edit_text text-uppercase" id="companyName"></span>
                    </h3>
                    <p class="pix-black-gray-light big-text pix-md-width-text">
                        <span class="pix_edit_text" id="companySummary">
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pix-content pix-margin-v-40">
                    <div class="media">
                        <div class="media-left media-middle">
                            <span class="pix-margin-bottom-10">
                                <img src="~/assets/img/sneakers.png" style="width: 80px; height: 80px" />
                            </span>
                        </div>
                        <div class="media-body media-top">
                            <div class="pix-padding-left-5">
                                <h5 class="media-heading pix-light-black pix-no-margin-bottom pix-lineheight-36">
                                    <span class="pix_edit_text">
                                        Chuyên nghiệp
                                    </span>
                                </h5>
                                <p class="pix-black-gray-light">
                                    <span class="pix_edit_text">Chuyên sản xuất, cung cấp giày bán lẻ</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pix-content pix-margin-v-40">
                    <div class="media">
                        <div class="media-left media-middle">
                            <span class="pix-margin-bottom-10">
                                <img src="~/assets/img/running.png" style="width: 80px; height: 80px" />
                            </span>
                        </div>
                        <div class="media-body media-top">
                            <div class="pix-padding-left-5">
                                <h5 class="media-heading pix-light-black pix-no-margin-bottom pix-lineheight-36">
                                    <span class="pix_edit_text">
                                        Giao hàng nhanh chóng
                                    </span>
                                </h5>
                                <p class="pix-black-gray-light">
                                    <span class="pix_edit_text">Chúng tôi luôn nỗ lực giao hàng nhanh nhất có thể cho bạn!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pix-content pix-margin-v-40">
                    <div class="media">
                        <div class="media-left media-middle">
                            <span class="pix-margin-bottom-10">
                                <img src="~/assets/img/sneakers-2.png" style="width: 80px; height: 80px" />
                            </span>
                        </div>
                        <div class="media-body media-top">
                            <div class="pix-padding-left-5">
                                <h5 class="media-heading pix-light-black pix-no-margin-bottom pix-lineheight-36">
                                    <span class="pix_edit_text">
                                        Uy tín và chất lượng
                                    </span>
                                </h5>
                                <p class="pix-black-gray-light">
                                    <span class="pix_edit_text">Các sản phẩm luôn đảm bảo chất lượng cao</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pix-content pix-margin-v-40">
                    <div class="media">
                        <div class="media-left media-middle">
                            <span class="pix-margin-bottom-10">
                                <img src="~/assets/img/running-shoes.png" style="width: 80px; height: 80px" />
                            </span>
                        </div>
                        <div class="media-body media-top">
                            <div class="pix-padding-left-5">
                                <h5 class="media-heading pix-light-black pix-no-margin-bottom pix-lineheight-36">
                                    <span class="pix_edit_text">
                                        Tận tâm với khách hàng
                                    </span>
                                </h5>
                                <p class="pix-black-gray-light">
                                    <span class="pix_edit_text">Phục vụ nhu cầu của khách hàng luôn là ưu tiên hàng đầu của chúng tôi</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12 col-xs-12">
                    <div class="pix-content pix-margin-v-50 text-center">
                        <div class="pix-margin-bottom-30">
                            <a href="#" class="btn orange-bg btn-xl btn-round-xl small-text pix-white secondary-font">
                                <span class="pix_edit_text">
                                    <strong>MAKE YOUR OWN SITE</strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<div class="pix_section pix-padding-v-85" id="section_gallery_2" style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 column ui-droppable">
                <div class="pix-content pix-padding-bottom-30">
                    <h3 class="pix-black-gray-dark pix-no-margin-top text-center">
                        <span class="pix_edit_text">CÁC SẢN PHẨM</span>
                    </h3>
                </div>
            </div>
            @foreach (var item in ViewBag.ListNewProduct)
            {
            <div class="col-md-4 col-xs-6 col-sm-6 column ui-droppable">
                <div class="pix-content text-center pix-margin-v-10 pix-radius-3">
                    <a data-fancybox="gallery" href="@(item.PictureThumbnail?.Trim())" title="@item.Name">
                        <img src="@(item.PictureThumbnail?.Trim())" alt="" class="img-responsive pix-inline-block">
                    </a>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="text-center">
                <div class="pix-margin-v-30">
                    <a href="/ListProducts" class="btn orange-bg btn-xl btn-round-xl small-text pix-white secondary-font">
                        <span class="pix_edit_text">
                            <strong>Xem tất cả sản phẩm</strong>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pix_section pix-padding-v-85 gray-bg">
    <div class="container">
        <h3 class="pix-black-gray-dark pix-no-margin-top text-center" style="margin-bottom: 30px">
            <span class="pix_edit_text">TIN TỨC</span>
        </h3>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="pix-content pix-radius-3">
                    <div class="pix_section inner_section">
                        <div class="container">
                            @foreach (var item in Model.ListNewsArticle)
                            {
                            <div class="row mb-15">
                                <div class="col-md-12 col-xs-12">
                                    <div class="news-container pix-content pix-padding-h-20 pix-padding-v-20 pix-radius-10 white-bg pix-shadow-20" onclick="GotoLink(@item.Id, '@(item.UrlSegment?.Trim())')">
                                        <div class="news-img">
                                            <img width="150" height="100" src="data:image/png;base64,@item.PictureThumbnail" />
                                        </div>
                                        <div class="news-content">
                                            <div class="pix-padding-left-5">
                                                <h5 class="media-heading pix-light-black pix-lineheight-25">
                                                    <span class="pix_edit_text title_news news-descript" title="@(item.Name?.Trim())">
                                                        @(item.Name?.Trim())
                                                    </span>
                                                </h5>
                                                <a><span class="pix_edit_text pix-black-gray-light">@item.CreatedDate</span></a>
                                                <p class="pix-black-gray-light">
                                                    <span class="pix_edit_text news-descript" title="@(item.Summary?.Trim())">@(item.Summary?.Trim())</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            <div style="display: flex; justify-content: center; margin-bottom: 12px">
                                <a href="/Home/NewsArticleIndex">
                                    <div style="width: 120px; height: 35px; background-color: orange; color: white; padding: 10px 20px; border-radius: 30px; display: flex; justify-content: center; align-items: center;">Xem thêm</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="pix-content text-center"><img src="https://images.unsplash.com/photo-1494134825241-9daf2b74efef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z3JlZW4lMjBzaG9lc3xlbnwwfHwwfHw%3D&w=1000&q=80" alt="" class="img-responsive pix-inline-block"></div>
            </div>
        </div>
    </div>
</div>


<div class="pix_section pix-padding-v-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="pix-content pix-padding-bottom-40">
                    <h2 class="pix-black-gray-dark pix-no-margin-top text-center">
                        <span class="pix_edit_text">LIÊN HỆ NGAY</span>
                    </h2>
                    <div style="display: flex; justify-content: center;">
                        <div class="phone-container" onclick="window.open('tel:0384593636');">
                            <i class="fas fa-phone-alt" style="color: white"></i>
                            <span class="pix_edit_text pix-white"><strong>SĐT: @ViewBag.PhoneNumber</strong></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xs-12">
                <div class="pix-content">
                    <div class="pix_section inner_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="pix-content pix-padding-v-10">

                                        <div class="media-body">
                                            <div class="pix-content">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.097617362225!2d105.85017601540235!3d21.028779743152427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab953357c995%3A0x1babf6bb4f9a20e!2zSOG7kyBIb8OgbiBLaeG6v20!5e0!3m2!1svi!2s!4v1648716395166!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="pix-content pix-radius-3 gray-bg pix-padding-h-20 pix-padding-v-20 text-center">
                    <h4 class="pix-black-gray-dark secondary-font">
                        <span class="pix_edit_text"><strong>Gửi tin nhắn tới chúng tôi</strong></span>
                    </h4>
                    <div class="pix-form-style pixfort-form pix-padding-top-20 pix-form-light-white-bg" id="formSendMessage">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Họ và tên">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Địa chỉ email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Nội dung tin nhắn"></textarea>
                        </div>
                        <button type="submit" onclick="SendMessage()" class="btn orange-bg btn-lg pix-white btn-block small-text">
                            <span class="pix_edit_text"><strong>Gửi đi</strong></span>
                        </button>
                    </div>
                    <p class="pix-black-gray-light">
                        <span class="pix_edit_text">*Chúng tôi sẽ liên hệ lại ngay với bạn!</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="pix_section gray-bg pix-padding-v-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="pix-content text-center pix-margin-v-30">-->
@*<img src="@Url.Content("~/Content/megapack/images/clients/bigcommerce.png")" alt="" class="img-responsive pix-inline-block">*@
<!--</div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="pix-content text-center pix-margin-v-30">-->
@*<img src="@Url.Content("~/Content/megapack/images/clients/foursquare.png")" alt="" class="img-responsive pix-inline-block">*@
<!--</div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="pix-content text-center pix-margin-v-30">-->
@*<img src="@Url.Content("~/Content/megapack/images/clients/popsugar.png")" alt="" class="img-responsive pix-inline-block">*@
<!--</div>
</div>
<div class="col-md-3 col-xs-12">
    <div class="pix-content text-center pix-margin-v-30">-->
@*<img src="@Url.Content("~/Content/megapack/images/clients/surveymonkey.png")" alt="" class="img-responsive pix-inline-block">*@
<!--</div>
            </div>
        </div>
    </div>
</div>-->

<hr />
<div id="popup_20" class="modal pix_popup" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
            </div>
            <div class="modal-body">
                <div class="pix_section animating modal-section popup_section pix-no-margin pix-no-padding" style="display: block;">
                    <div class="container pix-padding-bottom-20">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="pix-content pix-padding-v-30 text-center"><img src="@Url.Content("~/Content/megapack/images/popups/popup-20.jpg")" alt="" class="img-responsive pix-inline-block"></div>
                            </div>
                            <div class="col-xs-12 text-center col-sm-8 column ui-droppable col-md-6" style="display: block;">
                                <div class="pix-content text-center"><img src="@Url.Content("~/Content/megapack/images/popups/13-image.png")" alt="" class="img-responsive  pix-inline-block"></div>
                            </div>
                            <div class="col-md-6 col-xs-12 column ui-droppable" style="display: block;">
                                <div class="pix-content pix-padding-v-20 text-center">
                                    <div class="pix-padding-v-20">
                                        <i class="pixicon-message2 big-icon-60 pix-orange"></i>
                                    </div>
                                    <h2 class="pix-black-gray-dark pix-no-margin-top">
                                        <span class="pix_edit_text"><strong>Hey There!</strong></span>
                                    </h2>
                                    <p class="pix-slight-white big-text pix-margin-bottom-30">
                                        <span class="pix_edit_text">
                                            Did you know that you can modify this form in PixFort builder using the drag &amp; drop form builder.
                                        </span>
                                    </p>
                                    <div class="pix-margin-bottom-30">
                                        <form class="pix-form-style pixfort-form ui-sortable pix-form-gray-bg">
                                            <div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Enter Your Email Address">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" id="message" name="message" placeholder="Enter Your Message Here..."></textarea>
                                            </div>
                                            <button type="submit" class="btn orange-bg pix-white btn-xl small-text btn-block"><span class="pix_edit_text"><strong>SEND MESSAGE</strong></span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .phone-container {
        background-color: orangered;
        border-radius: 25px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .news-container {
        display: flex;
    }

        .news-container:hover {
            background-color: #f5f6f7;
            cursor: pointer;
        }

    .news-img {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news-container:hover {
        background-color: #ffffff;
        cursor: pointer;
    }

    .news-content {
        width: 65%;
    }

    .title_news {
        font-size: 16px;
        font-weight: 600;
    }

    .pix-lineheight-25 {
        line-height: 25px !important;
    }
</style>

<script src="~/Content/megapack/js/jquery-1.11.2.js"></script>

<script>

    function GotoLink(id, url) {
        //var href = `/Home/NewsArticleDetail?id=${id}&url=${url}`
        //window.open(href);
        window.location.href = `/Home/NewsArticleDetail?id=${id}&url=${url}`;
    }

    function SendMessage() {
        var data = {
            Name: $('#formSendMessage input[name=name]').val().trim(),
            Email: $('#formSendMessage input[name=email]').val().trim(),
            Message: $('#formSendMessage textarea[name=message]').val().trim(),
        }

        if (data.Name == '' || data.Email == '' || data.Message == '') {
            toastr.warning('Bạn hãy nhập đầy đủ thông tin tên, email, nội dung trước khi gửi!');
            return false;
        }

        swal({
            title: "Bạn có đồng ý gửi không?",
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.ajax({
                    url: '/Home/SendMessage',
                    type: "POST",
                    data: data,
                    success: function (rs) {
                        if (rs != null && rs != undefined && rs != '') {
                            if (rs.status >= 1)
                                toastr.success(rs.message);
                            else
                                toastr.error(rs.message);
                        } else {
                            toastr.error('Có lỗi xảy ra!');
                        }
                    },
                    complete: function () {
                        $.unblockUI();
                    },
                });
            }
        });
    }
</script>
