﻿@model NetMVCBuilder.Models.EntityModel.NewsArticle

@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<style>
    body {
        background: #ebebeb;
    }

    .pix_section {
        background: white;
    }
</style>

<div class="pix-padding-v-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3>@Model.Name</h3>
                        </div>
                        <p style="padding: 1rem 2.25rem;">Đăng lúc @Model.CreatedDate bởi @Model.CreatedBy</p>
                        <div class="card-body">
                            @Html.Raw(Model.ContentNews)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-body img{
        max-width: 75vw !important;
    }
</style>

@*<script>
    $(".card-body").css("max-width", "90vw !important")
</script>*@