﻿@model List<NetMVCBuilder.Models.InfoModel.NewsArticleInfo>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}


<style>
    body {
        background: #ebebeb;
    }

    .pix_section {
        background: white;
    }
</style>

<div class="pix-padding-v-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="card card-custom gutter-b example example-compact">
                        <div class="card-header">
                            <h3 class="card-title">Tin tức</h3>
                        </div>
                        @{
                            foreach (var item in Model)
                            {
                                <div class="card-body">
                                    <div class="col-sm-5">
                                        <a href="@Url.Action("NewsArticleDetail", "Home", new { id = item.Id, url = item.UrlSegment})" title="">
                                            <img style="max-height: 220px; max-width: 330px; margin-bottom: 5px; width: 100%" src="data:image/png;base64, @item.PictureThumbnail" class="" alt="No image" loading="lazy">
                                        </a>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <h5 class="m-0 news-descript" title="@(item.Name?.Trim())">
                                                    <a href='@Url.Action("NewsArticleDetail", "Home", new {id = item.Id, url = item.UrlSegment})' class="title-news" rel="bookmark">
                                                        @(item.Name?.Trim())
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <span class="m-0"><a class="news-color">Đăng vào @item.CreatedDate bởi @item.Author</a></span>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-12 news-descript" title="@(item.Summary?.Trim())">
                                                <span class="m-0">@(item.Summary?.Trim())</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>